<!-- ###################################### -->
<template name="estimatingTemplate">
	<div class="estimation-content">
		{{> historicalData}}
		<h4>PROBE A</h4>
		{{> PROBEA}}
		<h4>PROBE B</h4>
		{{> PROBEB}}
		<h4>PROBE C</h4>
		{{> PROBEC}}
		<h4>PROBE D</h4>
		{{> PROBED}}
	</div>
</template>

<template name="historicalData">
	{{gethistoricalProjects}}
	<h4>Datos históricos</h4>
	<table class="table">
		<thead>
			<tr>
				<th>Proyecto</th>
				<th><i>Proxy Estimated</i></th>
				<th>Líneas añadidas y modificadas (Plan)</th>
				<th>Líneas añadidas y modificadas (Actual)</th>
				<th>Tiempo Estimado</th>
				<th>Tiempo Actual</th>
			</tr>
		</thead>
		<tbody>			
			{{#each historicalProjects}}
			<tr>
				<td>{{Name}}</td>
				<td>{{ProxyE}}</td>
				<td>{{PlanLOC}}</td>
				<td>{{ActualLOC}}</td>
				<td>{{timeFormat EstimatedTime}}</td>
				<td>{{timeFormat ActualTime}}</td>			
			</tr>
			{{/each}}
		</tbody>
	</table>
</template>