<!-- ###################################### -->

<template name="PROBED">
	<!-- {{#with PlanSummary}}
		<div class="probeD-estimation-row">
			<div class="title">
				<h4>Estimacion Tiempo(hrs)</h4>
				{{#if probeEditable}}
					<input type="text" class="newTime" value="{{timeInOnlyHours estimatedTime}}">
				{{else}}
					<span>{{timeInOnlyHours estimatedTime}}</span>
				{{/if}}
			</div>
			<div class="description">
				<span>Este método usa tu mejor suposición, usalo si crees que los ajustes realizados por los demás métodos no son acertados</span>
				<div class="{{#unless probeEditable}} hide {{/unless}}btn primary-button save-data-time">Escoger</div>
			</div>
		</div>
	{{/with}} -->
	<table class="table estimation table-historical-data">
		<thead>
			<tr>
				<th></th>
				<th>Estimación</th>
				<th class="hidden-xs">Descripción</th>
				<th></th>
			</tr>
		</thead>
		<tbody>		
		{{#with PlanSummary}}
			<tr>
				<td>Tiempo(hrs)</td>
				<td class="input-estimation">
					<div class="input-box" style="width:50%;">
					{{#if probeEditable}}
						<input type="text" class="newTime" value="{{timeInOnlyHours estimatedTime}}">
					{{else}}
						<span>{{timeInOnlyHours estimatedTime}}</span>
					{{/if}}
					</div>
				</td>
				<td class="hidden-xs">Este método usa tu mejor suposición, usalo si crees que los ajustes realizados por los demás métodos no son acertados</td>
				<td><div class="{{#unless probeEditable}} hide {{/unless}} primary-button save-data-time">Escoger</div></td>
			</tr>
			<tr>
				<td>Líneas añadidas y modificadas</td>
				<td class="input-estimation">
					<div class="input-box" style="width:50%;">
					{{#if probeEditable}}
						<input type="text" class="newLOC" value="{{proxyEstimated}}">
					{{else}}
						<span>{{proxyEstimated}}</span>
					{{/if}}
					</div>
				</td>
				<td class="hidden-xs">Este método usa tu mejor suposición para el estimado de las líneas añadidas y modificadas de este proyecto.</td>
				<td><div class="{{#unless probeEditable}} hide {{/unless}} primary-button save-data-size">Escoger</div></td>
			</tr>
		{{/with}}

		</tbody>
	</table>
</template>
