<!-- ###################################### -->
<template name="projectInformationTemplate">
	{{>projectMessages}}
	{{>headerNavigation}}
	{{#with projectInfo}}
		<div class="prj-information-content">
			<h4>Informacion General <span class="{{#if completed}} completed {{/if}}"></span></h4>
			{{#if completed}}
				<span class="project-completed">Terminado</span>
			{{else}}
				<span class="close-project"><i class="material-icons">done_all</i> Finalizar Proyecto</span>
			{{/if}}

			<div class="information-row">
				<h4>Titulo del Proyecto</h4>
				{{#if projectIsCompleted}}
					<span class="project-completed-title">{{title}}</span>
				{{else}}
					{{{contentEditable class='project-title' value=title}}}
				{{/if}}
				<h4>Descripción del Proyecto</h4>
				{{#if projectIsCompleted}}
					<span class="project-completed-description">{{description}}</span>
				{{else}}
					{{{contentEditable class='project-description' value=description}}}
				{{/if}}
			</div>
		</div>

		<div class="prj-information-values-box">
			<div class="information-box charts">
				<h4>Tiempo registrado</h4>
				{{> projectInformationChart}}
			</div>
			<div class="information-box prj-registered-values">
				<h4>Datos registrados</h4>
				<div>
					<svg viewBox="0 0 100 100"><use xlink:href="/images/TimeLog.svg#timeLogLogo"></use></svg>
					<span>Tiempo total</span>
					<p>{{projectTotalTime}}</p>
				</div>
				<div>
					<svg viewBox="0 0 100 100"><use xlink:href="/images/Calendar.svg#calendarLogo"></use></svg>
					<span>Fecha creación</span>
					<p>{{dateDisplay createdAt}}</p>
				</div>
			</div>
		</div>
	{{/with}}
</template>
<!-- ###################################### -->
<template name="projectInformationChart">
	<div class="prj-information-chart">
		<canvas id="projectInformationChart"></canvas>
	</div>
	<ul class="prj-information-chart-values">
		{{#each chartFields}}
			<li><i class="fa fa-square" style="color: {{color}}"></i>{{name}}</li>
		{{/each}}
	</ul>
</template>
<!-- ###################################### -->
<template name="projectInformation">
	{{#unless $or isPostmortem isPSP0}}
		<div class="information-menu hidden-xs">
			<h4>Información Extra</h4>
			<span>&bull; Los formularios se habilitan cuando estés en la etapa postmortem.</span>
		</div>
	{{/unless}}
</template>
<!-- ###################################### -->