<!-- ###################################### -->
<template name="projectsTemplate">
	{{#unless amountProjects}}
		<div class="empty-data-box">
			<h3>No has creado ningun proyecto aun.</h3>
			<span>Para crear un nuevo proyecto debes dar click en el botón verde superior.</span>
		</div>
	{{/unless}}
	<div class="allprojects-container clearfix">
		<div class="allprojects-data">
			{{#each allProjects}}
				<div class="project-box" style="border-left: 5px solid {{color}};">
					<div class="project-delete">
						{{#if isHovered}}
							<i class="fa fa-arrow-left"></i>
						{{else}}
							<i class="fa fa-times"></i>
						{{/if}}
					</div>
					<div class="project-delete-confirm">
						<p>Estas seguro?</p>
						<span class="btn confirm-delete">Eliminar Proyecto</span>
					</div>
					<a href="{{pathFor 'iterations' fid=_id}}">
						<div class="project-content">
							<i class="fa fa-circle {{#if projectCompleted}} prj-completed {{else}} prj-success {{/if}}"></i>
							<h3>{{title}}</h3>
							<span>{{description}}</span>
						</div>
					</a>
				</div>
			{{/each}}
		</div>
	</div>
</template>
<!-- ###################################### -->