<!-- ###################################### -->
<template name="iterationsViewTemplate">
	<div class="allprojects-container">
		<div class="allprojects-data">
			{{#with selectedProject}}
				<a href="{{pathFor 'projectGeneral' fid=_id id=_id}}">
					<div class="project-for-iteration-box" style="border-left: 5px solid {{color}};">
						<div class="project-content">
							<h3>
								{{#if isRegistering}}
									<svg viewBox="0 0 100 100"><use xlink:href="/images/TimeLog.svg#timeLogLogo"></use></svg>
								{{/if}}
								{{title}}
							</h3>
							<span>{{description}}</span>
						</div>
					</div>
				</a>
			{{/with}}
			{{#each projectIterations}}
				{{> projectIterationBox}}
			{{/each}}
		</div>
	</div>
</template>
<!-- ###################################### -->
<template name="projectIterationBox">
	<div class="iteration-box" style="border-left: 5px solid {{color}};">
		<div class="iteration-delete">
			{{#if isHovered}}
				<i class="fa fa-arrow-left"></i>
			{{else}}
				<i class="fa fa-times"></i>
			{{/if}}
		</div>
		<div class="iteration-delete-confirm">
			<p>Estas seguro?</p>
			<span class="btn confirm-delete">Eliminar Iteración</span>
		</div>
		<a href="{{pathFor 'projectGeneral' fid=parentId id=_id}}">
			<div class="project-content">
				<h3>
					{{#if isRegistering}}
						<svg viewBox="0 0 100 100"><use xlink:href="/images/TimeLog.svg#timeLogLogo"></use></svg>
					{{/if}}
					{{title}}
				</h3>
				<span>{{description}}</span>
			</div>
		</a>
	</div>
</template>
<!-- ###################################### -->