<!-- ###################################### -->
<template name="projectViewMenu">
	<ul class="project-view-menu">
		<a href="{{pathFor 'projectGeneral' fid=routeFid id=routeId}}">
			<li class="{{#if $eq template 'projectGeneral'}} project-menu-selected {{/if}}">
				<svg viewBox="0 0 100 100"><use xlink:href="/images/General.svg#generalLogo"></use></svg>
				<h3>Vista General</h3>
			</li>
		</a>
		<a href="{{pathFor 'projectTimeLog' fid=routeFid id=routeId}}">
			<li class="{{#if $eq template 'projectTimeLog'}} project-menu-selected {{/if}}">
				<svg viewBox="0 0 100 100"><use xlink:href="/images/TimeLog.svg#timeLogLogo"></use></svg>
				<h3>Log de tiempos</h3>
			</li>
		</a>
		<a href="{{pathFor 'projectDefectLog' fid=routeFid id=routeId}}">
			<li class="{{#if $eq template 'projectDefectLog'}} project-menu-selected {{/if}}">
				<svg viewBox="0 0 100 100"><use xlink:href="/images/Bug.svg#bugLogo"></use></svg>
				<h3>Log de defectos</h3>
			</li>
		</a>
		<a href="{{pathFor 'projectSummary' fid=routeFid id=routeId}}">
			<li class="{{#if $eq template 'projectSummary'}} project-menu-selected {{/if}}">
				<svg viewBox="0 0 100 100"><use xlink:href="/images/Summary.svg#summaryLogo"></use></svg>
				<h3>Plan Summary</h3>
			</li>
		</a>
		<a href="{{pathFor 'projectScripts' fid=routeFid id=routeId}}">
			<li class="{{#if $eq template 'projectScripts'}} project-menu-selected {{/if}}">
				<svg viewBox="0 0 100 100"><use xlink:href="/images/Script.svg#scriptLogo"></use></svg>
				<h3>Scripts Generales</h3>
			</li>
		</a>
		<a href="{{pathFor 'estimating_Template' fid=routeFid id=routeId}}">
			<li class="{{#if $eq template 'estimating_Template'}} project-menu-selected {{/if}}">
				<svg viewBox="0 0 100 100"><use xlink:href="/images/Summary.svg#summaryLogo"></use></svg>
				<h3>Estimating template</h3>
			</li>
		</a>
	</ul>
</template>
<!-- ###################################### -->