<!-- ###################################### -->
<template name="main_userBar">
	<div class="main-user">
		<div class="mobile-menu">
			<svg viewBox="0 0 100 100"><use xlink:href="/images/Menu.svg#menuLogo"></use></svg>
		</div>
		{{#each viewState}}
			<a href="{{pathFor route fid=fid id=pid}}" class="user-route {{#if lastValue}} last-user-route {{/if}} hidden-xs">{{title}}</a>
			<span class="{{#if lastValue}} hide {{/if}} hidden-xs">
				<svg class="breadcrumb-arrow" viewBox="0 0 100 100"><use xlink:href="/images/ArrowBreadcrumb.svg#arrowsBreadCrumb"></use></svg>
			</span>
		{{/each}}
		{{#if $eq template "main"}}
			{{> createProjectButton}}
		{{/if}}
		{{#if $eq template "iterationView"}}
			{{> createIterationButton}}
		{{/if}}
		{{#if $eq template "projectDefectLog"}}
			{{> createDefectButton}}
		{{/if}}
		<div class="notification-badge {{#unless showNotificationBadge}} hide {{/unless}}"></div>
		<svg class="notification-svg hidden-xs" viewBox="0 0 100 100"><use xlink:href="/images/Notifications.svg#notificationsLogo"></use></svg>
		<div class="notification-box hide">
			<ul>
				{{#each userNotifications}}
					{{> userNotification}}
				{{/each}}
			</ul>
			<div class="more-notifications">
				<span>Ver todas las Notificaciónes</span>
			</div>
		</div>
		{{#with userData}}
			<div class="avatar-box">
				<div class="avatar" style="background-image: url('{{getUserAvatarUrl}}');"></div>
			</div>
			{{> userMenuDropdown}}
		{{/with}}
	</div>
</template>
<!-- ###################################### -->
<template name="userMenuDropdown">
	<i class="user-dropdown-tab hide"></i>
	<ul class="user-dropdown hide">
		<li>
			<svg class="menu-svg" viewBox="0 0 100 100"><use xlink:href="/images/Settings.svg#settingsLogo"></use></svg>
			<span>Ajustes de cuenta</span>
		</li>
		<li class="logout">
			<svg class="menu-svg" viewBox="0 0 100 100"><use xlink:href="/images/Power.svg#powerLogo"></use></svg>
			<span>Cerrar sesión</span>
		</li>
	</ul>
</template>
<!-- ###################################### -->
<template name="createProjectButton">
	<div class="btn create-btn">
		<i class="fa fa-plus"></i>
		<span>Crear Proyecto</span>
	</div>
</template>
<!-- ###################################### -->
<template name="createIterationButton">
	<div class="btn create-btn">
		<i class="fa fa-plus"></i>
		<span>Crear Iteración</span>
	</div>
</template>
<!-- ###################################### -->
<template name="createDefectButton">
	<div class="btn create-btn">
		<i class="fa fa-plus"></i>
		<span>Crear Defecto</span>
	</div>
</template>
<!-- ###################################### -->
<template name="userNotification">
	<li>
		<h3>{{title}}<div class="unseen-badge {{#if notificationSeen}} hide {{/if}}"></div></h3>
		<span>{{subject}}</span>
	</li>
</template>
<!-- ###################################### -->