<!-- ###################################### -->
<head>
  <title>PSP Connect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->
</head>
<!-- ###################################### -->
<template name="masterLayout">
	{{> main_menuBar}}
	{{> main_userBar}}
	<div class="master-content">
		{{> Template.dynamic template=main}}
	</div>
	{{#unless $.Meteor.status.connected}}
		<div class="warning-slide status-message">
			<i class="fa fa-ban"></i>
			<span class="label label-danger">Conectando ...</span>
		</div>
	{{/unless}}
	{{> statusMessage}}
</template>
<!-- ###################################### -->
<template name="statusMessage">
	{{#with statusMessage}}
		<div class="warning-slide status-message">
			<i class="fa {{#if $eq css 'success'}} fa-check {{/if}}"></i>
			<span class="label label-{{css}}">{{text}}</span>
		</div>
	{{/with}}
</template>
<!-- ###################################### -->