<!-- ###################################### -->
<template name="main_menuBar">
	<div class="mobile-menu-options {{#unless showMobileView}} hidden {{/unless}}">
		<div class="close-menu-box">
			<i class="material-icons close-mobile-menu">close</i>
		</div>
		<ul>
			<li class="option-menu-mobile {{#if isProjectView}} active {{/if}}" data-value="projects">Proyectos</li>
			<li class="option-menu-mobile {{#if $eq template 'overview'}} active {{/if}}" data-value="overview">Resumen</li>
			<li class="option-menu-mobile {{#if isSettingsView}} active {{/if}}" data-value="defectTypeSettings">Configuración</li>
			<li class="option-menu-mobile {{#if $eq template 'help'}} active {{/if}}" data-value="help">Ayuda</li>
		</ul>
	</div>
	<div class="main-menu">
		<div class="main-menu-content">
			<div class="hidden-xs">
				<a href="{{pathFor 'projects'}}"><svg class="project-logo" viewBox="0 0 100 100"><use xlink:href="/static/Logo.svg#Logo"></use></svg></a>
				<div class="main-menu-options">
					<a href="{{pathFor 'projects'}}" class="{{#if isProjectView}} active {{/if}}"><span>Proyectos</span></a>
					<a href="{{pathFor 'overview'}}" class="{{#if $eq template 'overview'}} active {{/if}}"><span>Resumen</span></a>
					<a href="{{pathFor 'defectTypeSettings'}}" class="{{#if isSettingsView}} active {{/if}}"><span>Configuración</span></a>
					<a href="{{pathFor 'help'}}" class="{{#if $eq template 'help'}} active {{/if}}"><span>Ayuda</span></a>
				</div>
			</div>

			<i class="material-icons visible-xs mobile-menu">menu</i>

			<div class="main-menu-user">
				<div class="notification-option">
					<div class="new-notification {{#unless showNotificationBadge}} hidden {{/unless}}"></div>
					<i class="material-icons notification">notifications</i>
					{{>userNotification}}
				</div>
				<div class="avatar-box">
					{{#with userData}}
						<div class="avatar" style="background-image: url('{{getUserAvatarUrl}}');"></div>
						{{>userMenuDropdown}}
					{{/with}}
				</div>
			</div>
		</div>
	</div>
</template>
<!-- ###################################### -->
<template name="userMenuDropdown">
	<div class="user-dropdown {{#unless $.Session.get 'display-user-box'}} hidden {{/unless}}">
		<ul>
			<li class="edit-profile">
				<svg class="menu-svg" viewBox="0 0 100 100"><use xlink:href="/images/Settings.svg#settingsLogo"></use></svg>
				<span>Ajustes de cuenta</span>
			</li>
			<li class="logout">
				<svg class="menu-svg" viewBox="0 0 100 100"><use xlink:href="/images/Power.svg#powerLogo"></use></svg>
				<span>Cerrar sesión</span>
			</li>
		</ul>
	</div>
</template>
<!-- ###################################### -->
<template name="userNotification">
	<div class="notification-box {{#unless $.Session.get 'display-notification-box'}} hidden {{/unless}}">
		<h3>Notificaciones</h3>
		<ul>
			{{#each userNotifications}}
				<li class="notification-item">
					<div class="notification-header">
						<div class="notification-avatar" style="background-image: url('{{getUserAvatarUrl title.sender}}');"></div>
						<div class="notification-badge {{badgeStatus}}">
							{{#if $eq badgeStatus 'success'}}
								<i class="material-icons">check</i>
							{{else}}
								<i class="material-icons">warning</i>
							{{/if}}
						</div>
					</div>
					<div class="notification-content {{#unless notificationSeen}} unseen-badge {{/unless}} {{#if notificationDisabled}} notification-content-disabled {{/if}}">
						<h4>
							<span class="notification-sender">{{userName title.sender}}</span>
							{{title.main}}
							<span class="notification-secondary">{{title.secondary}}</span>
						</h4>
						<span>{{subject}} <span class="notification-revert">{{revertMessage}}</span></span>
						<p>{{momentToNow createdAt}}</p>
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
</template>
<!-- ###################################### -->
<template name="headerNavigation">
	<div class="general-header">
		<div class="mobile-natigation visible-xs visible-sm">
			<span data-toggle="dropdown">
				{{lastRouteName}} <i class="material-icons">keyboard_arrow_down</i>
				</span>
			<ul class="dropdown-menu defect-type-dropdown">
				{{#each navigationState}}
					<a href="{{pathFor route fid=fid id=pid question=question}}">
						<li class="{{#if lastValue}} active {{/if}}">
							<i class="material-icons">check</i>
							{{title}}
						</li>
					</a>
				{{/each}}
			</ul>
		</div>
		<div class="navigation hidden-xs hidden-sm">
			{{#each navigationState}}
				<div class="navigation-option">
					<a href="{{pathFor route fid=fid id=pid question=question}}">
						<span class="menu-state {{#if lastValue}} active {{/if}} {{#if displayMenu}} state-menu {{/if}}">{{title}} <i class="material-icons {{#unless displayMenu}} hidden {{/unless}}">keyboard_arrow_down</i></span>
					</a>
					<span class="{{#if lastValue}} hide {{/if}} hidden-xs">
						<svg class="breadcrumb-arrow" viewBox="0 0 100 100"><use xlink:href="/images/ArrowBreadcrumb.svg#arrowsBreadCrumb"></use></svg>
					</span>
					{{#if displayMenu}}
						<div class="navigation-menu {{#unless $.Session.get 'navigation-menu'}} hidden {{/unless}}">
							<ul>
								<li class="project-order {{#if $eq ordenProyectos 'date'}} active {{/if}}" data-value="date"><i class="material-icons">check</i> Reciente</li>
								<li class="project-order {{#if $eq ordenProyectos 'title'}} active {{/if}}" data-value="title"><i class="material-icons">check</i> Titulo</li>
								<li class="project-order {{#if $eq ordenProyectos 'color'}} active {{/if}}" data-value="color"><i class="material-icons">check</i> Color</li>
							</ul>
						</div>
					{{/if}}
				</div>
			{{/each}}
		</div>

		{{#if $eq template "projects"}}
			<span class="create-button create-project"><i class="material-icons">add</i> Crear Proyecto</span>
		{{/if}}
		{{#if $eq template "iterations"}}
			<span class="create-button create-iteration"><i class="material-icons">add</i> Crear Iteración</span>
		{{/if}}
		{{#if $eq template "projectDefectLog"}}
			{{#unless projectCompleted}}
				<span class="create-button create-defect"><i class="material-icons">add</i> Crear Defecto</span>
			{{/unless}}
		{{/if}}
		{{#if $eq template "community"}}
			<span class="create-button create-question"><i class="material-icons">add</i> Crear Pregunta</span>
		{{/if}}
	</div>
</template>
<!-- ###################################### -->