<!-- ###################################### -->
<head>
  <title>PSP Connect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="/favicon/favicon.png" sizes="32x32" />
  <link href="/favicon/apple-favicon-180x180.png" rel="apple-touch-icon" sizes="180x180">
</head>
<!-- ###################################### -->
<template name="masterLayout">
	{{> main_menuBar}}
	{{> main_userBar}}
	<div class="master-content">
		{{> Template.dynamic template=main}}
	</div>
	<div class="status-box">
		{{#unless $.Meteor.status.connected}}
			<div class="warning-slide status-message">
				<div class="label-content">
					<h3>Conectando</h3>
					<span>Estamos tratando de conectarnos a la plataforma.</span>
				</div>
				<div class="label-danger">
					<i class="fa fa-times"></i>
				</div>
			</div>
		{{/unless}}
		{{> statusMessage}}
		{{> statusTimeMessage}}
	</div>
</template>
<!-- ###################################### -->
<template name="statusMessage">
	{{#with statusMessage}}
		<div class="warning-slide status-message">
			<div class="label-content">
				<h3>{{title}}</h3>
				<span>{{subject}}</span>
			</div>
			<div class="label-{{css}}">
				<i class="fa {{#if $eq css 'danger'}} fa-times {{else}} fa-check {{/if}}"></i>
			</div>
		</div>
	{{/with}}
</template>
<!-- ###################################### -->
<template name="statusTimeMessage">
	{{#with timeMessage}}
		<div class="warning-slide status-time-message">
			<div class="label-content">
				<h3>{{title}}</h3>
				<span>{{subject}}</span>
			</div>
			<div class="label-warning">
				<i class="fa fa-exclamation-triangle"></i>
			</div>
		</div>
	{{/with}}
</template>
<!-- ###################################### -->