<!-- ###################################### -->
<template name="main_menuBar">
	<div class="main-menu">
		<div class="main-menu-content">
			<div>
				<a href="{{pathFor 'projects'}}"><svg class="project-logo" viewBox="0 0 100 100"><use xlink:href="/static/Logo.svg#Logo"></use></svg></a>
				<div class="main-menu-options">
					<a href="{{pathFor 'projects'}}" class="{{#if isProjectView}} active {{/if}}"><span>Proyectos</span></a>
					<a href="{{pathFor 'overview'}}" class="{{#if $eq template 'overview'}} active {{/if}}"><span>Resumen</span></a>
					<a href="{{pathFor 'projectSettings'}}" class="{{#if isSettingsView}} active {{/if}}"><span>Configuración</span></a>
					<a href="{{pathFor 'help'}}" class="{{#if $eq template 'help'}} active {{/if}}"><span>Ayuda</span></a>
				</div>
			</div>

			<div class="main-menu-user">
				<div class="notification-option">
					<div class="new-notification {{#unless showNotificationBadge}} hidden {{/unless}}"></div>
					<i class="material-icons notification">notifications</i>
					{{>userNotification}}
				</div>
				<div class="avatar-box">
					{{#with userData}}
						<div class="avatar" style="background-image: url('{{getUserAvatarUrl}}');"></div>
						{{>userMenuDropdown}}
					{{/with}}
				</div>
			</div>
		</div>
	</div>
</template>
<!-- ###################################### -->
<template name="userMenuDropdown">
	<div class="user-dropdown {{#unless $.Session.get 'display-user-box'}} hidden {{/unless}}">
		<ul>
			<li class="edit-profile">
				<svg class="menu-svg" viewBox="0 0 100 100"><use xlink:href="/images/Settings.svg#settingsLogo"></use></svg>
				<span>Ajustes de cuenta</span>
			</li>
			<li class="logout">
				<svg class="menu-svg" viewBox="0 0 100 100"><use xlink:href="/images/Power.svg#powerLogo"></use></svg>
				<span>Cerrar sesión</span>
			</li>
		</ul>
	</div>
</template>
<!-- ###################################### -->
<template name="userNotification">
	<div class="notification-box {{#unless $.Session.get 'display-notification-box'}} hidden {{/unless}}">
		<h3>Notificaciones</h3>
		<ul>
			{{#each userNotifications}}
				<li class="notification-item">
					<div class="notification-header">
						<div class="notification-avatar" style="background-image: url('{{getUserAvatarUrl title.sender}}');"></div>
						<div class="notification-badge {{badgeStatus}}">
							{{#if $eq badgeStatus 'success'}}
								<i class="material-icons">check</i>
							{{else}}
								<i class="material-icons">warning</i>
							{{/if}}
						</div>
					</div>
					<div class="notification-content {{#unless notificationSeen}} unseen-badge {{/unless}} {{#if notificationDisabled}} notification-content-disabled {{/if}}">
						<h4>
							<span class="notification-sender">{{userName title.sender}}</span>
							{{title.main}}
							<span class="notification-secondary">{{title.secondary}}</span>
						</h4>
						<span>{{subject}} <span class="notification-revert">{{revertMessage}}</span></span>
						<p>{{momentToNow createdAt}}</p>
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
</template>
<!-- ###################################### -->