<!-- ###################################### -->
<template name="settingsTemplate">
	{{> settingsMenu}}
	<p>Estoy en settings</p>
</template>
<!-- ###################################### -->
<template name="settingsMenu">
	<ul class="project-view-menu">
		<a href="{{pathFor 'projectSettings'}}">
			<li class="{{#if $eq template 'projectSettings'}} project-menu-selected {{/if}}">
				<svg viewBox="0 0 100 100"><use xlink:href="/images/Settings.svg#settingsLogo"></use></svg>
				<h3>Ajustes de Proyectos</h3>
			</li>
		</a>
		<a href="{{pathFor 'accountSettings'}}">
			<li class="{{#if $eq template 'accountSettings'}} project-menu-selected {{/if}}">
				<svg viewBox="0 0 100 100"><use xlink:href="/images/Profile.svg#profileLogo"></use></svg>
				<h3>Ajustes de Cuenta</h3>
			</li>
		</a>
		<a href="{{pathFor 'defectTypeSettings'}}">
			<li class="{{#if $eq template 'defectTypeSettings'}} project-menu-selected {{/if}}">
				<svg viewBox="0 0 100 100"><use xlink:href="/images/Defect.svg#defectLogo"></use></svg>
				<h3>Tipos de defectos</h3>
			</li>
		</a>
	</ul>
</template>
<!-- ###################################### -->