<template name="overviewTemplate">
	<div class="main-option-container clearfix">
		<h4 class="main-option-title">Tiempo por etapas</h4>
		<div class="overview-charts-container">
			{{> timeCharts}}
		</div>
	</div>
	<div class="main-option-container clearfix">
		<h4 class="main-option-title">Defectos inyectados por etapa</h4>
		<div class="overview-charts-container">
			{{> injectedCharts}}
		</div>
	</div>
	<div class="main-option-container clearfix">
		<h4 class="main-option-title">Defectos Removidos por etapa</h4>
		<div class="overview-charts-container">
			{{> removedCharts}}
		</div>
	</div> 
</template>
