<!-- ###################################### -->
<template name="overviewTemplate">
	<div class="main-option-container">
		<h4 class="main-option-title">Tiempo por etapas</h4>
		{{> timeCharts}}
	</div>
	<div class="main-option-container">
		<h4 class="main-option-title">Defectos inyectados por etapa</h4>
		{{> injectedCharts}}
	</div>
	<div class="main-option-container">
		<h4 class="main-option-title">Defectos Removidos por etapa</h4>
		{{> removedCharts}}
	</div>
</template>
<!-- ###################################### -->