<!-- ###################################### -->
<template name="timeTemplate">
	{{> projectViewMenu}}
	<div class="project-view-content">
		<div class="time-content">
			{{> timesBar}}
			<table class="table time-table">
				<thead>
					<tr>
						<th>Etapa</th>
						<th class="hidden-xs">Tiempo registrado</th>
						<th>Completado</th>
						<th>Edición</th>
					</tr>
				</thead>
				<tbody>
					{{#each projectStages}}
						{{> timeTableRow}}
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>

<!-- ###################################### -->
<template name="timeTableRow">
	<tr>
		<td><span>{{name}}</span></td>
		<td class="hidden-xs">{{timeFormat time}}</td>
		<td>
			<div class="time-completed {{#unless finished}} hide {{/unless}}"><i class="fa fa-fw fa-check"></i></div>
		</td>
		<td><span class="edit-time">Editar</span></td>
	</tr>
</template>

<!-- ###################################### -->
<template name="timesBar">
	{{#with planSummary}}
		<div class="time-menu clearfix">
			<div>
				<i class="fa time-btn fa-play {{#if isRecordingTime}} time-btn-play {{/if}}"></i>
				<i class="fa time-btn fa-pause {{#unless isRecordingTime}} time-status-pause {{/unless}}"></i>
			</div>
			<div class="btn time-submit">
				<span>Finalizar Etapa</span>
			</div>
		</div>
	{{/with}}
</template>

<!-- ###################################### -->