<!-- ###################################### -->
<template name="timeTemplate">
	{{>projectMessages}}
	{{>headerNavigation}}
	<div class="box-content time-content">
		{{>timesBar}}
		<div class="time-box">
			{{#each projectStages}}
				{{>timeStageRow}}
			{{/each}}
		</div>
		{{>timesFooter}}
	</div>
</template>
<!-- ###################################### -->
<template name="timesBar">
	{{#with planSummary}}
		<div class="time-menu">
			{{#if isRecordingTime}}
				<i class="material-icons time-play active">play_circle_filled</i>
				<i class="material-icons time-pause">pause</i>
			{{else}}
				<i class="material-icons time-play {{#if projectIsCompleted}} disabled {{/if}}">play_arrow</i>
				<i class="material-icons time-pause {{#if projectIsCompleted}} disabled {{/if}}">pause_circle_filled</i>
			{{/if}}

			{{>timeClock}}

			<div class="pull-right">
				{{#if projectIsCompleted}}
					<div class="btn disabled-button">
						<span>Proyecto Finaliado</span>
					</div>
				{{else}}
					{{#if currentStage}}
						<div class="btn primary-button time-submit">
							<span>Finalizar {{currentStage}}</span>
						</div>
					{{else}}
						<div class="btn disabled-button">
							<span>Etapas Completadas</span>
						</div>
					{{/if}}
				{{/if}}
			</div>
		</div>
	{{/with}}
</template>

<!-- ###################################### -->
<template name="timeClock">
	<span class="timer">{{clock}}</span>
</template>

<!-- ###################################### -->
<template name="timeStageRow">
	<div class="stage-row">
		<div class="stage-icon">
			{{#if finished}}
				<i class="material-icons completed {{#if openStageStatus}} check-enabled {{/if}}">check_circle</i>
			{{else}}
				{{#if openStageStatus}}
					<span class="check-status"></span>
				{{else}}
					<i class="material-icons {{#if currentStage}} current {{/if}}">play_circle_outline</i>
				{{/if}}
			{{/if}}
		</div>
		<div class="stage-information">
			<h4 class="{{#if $or finished currentStage}} title-finished {{/if}}">Etapa de {{name}}</h4>
			<span class="hidden-xs">
				Tiempo Registrado: <strong>{{timeFormat time}}</strong>
				<!--Tiempo Registrado: <strong>{{timeFormat estimated}}</strong>-->
			</span>
			<span class="visible-xs"><strong>{{timeFormat time}}</strong></span>
		</div>
		{{#if editAvailable}}
			<i class="material-icons edit-stage">mode_edit</i>
		{{/if}}
		<div class="stage-progress">
			<div class="{{#if overTime}} extra-progress {{/if}}" style="width: {{estimatedPercentage}}%;"></div>
		</div>
	</div>
</template>
<!-- ###################################### -->
<template name="timesFooter">
	{{#unless projectIsCompleted}}
		<div class="time-edit-box">
			{{#if openStageStatus}}
				<span class="btn primary-button status-time">Guardar Cambios</span>
				<span class="information hidden-xs">Al dar click aqui, los cambios que acabaste de realizar serán permanentes</span>
			{{else}}
				<span class="btn {{#if availableOpenStage}} primary-button status-time {{else}} disabled-button {{/if}} status-space-left">Editar Etapas</span>
				{{#if availableOpenStage}}
					<span class="information hidden-xs">Este botón te permitirá reabrir etapas completadas o cerrar etapas abiertas</span>
				{{else}}
					<span class="information hidden-xs">Debes ingresar un tiempo estimado en el Plan Summary para poder editar el estado de las etapas.</span>
				{{/if}}
			{{/if}}
		</div>
	{{/unless}}
</template>
<!-- ###################################### -->
<template name="timeLogInformation">
	<div class="information-menu hidden-xs">
		<h4>Información Extra</h4>
		<span>&bull; La línea azul debajo de cada etapa representa el progreso sobre el tiempo estimado.</span>
		<span>&bull; Cuando esta línea se completa significa que has consumido todo el tiempo que deberías utilizar en la etapa.</span>
	</div>
</template>

<!-- ###################################### -->