<!-- ###################################### -->
<template name="timeTemplate">
	<div class="time-content">
		{{> timesBar}}
		<table class="table time-table">
			<thead>
				<tr>
					<th>Etapa</th>
					<th class="hidden-xs">Tiempo registrado</th>
					<th>Completado</th>
					<th class="hidden-xs">Edición</th>
				</tr>
			</thead>
			<tbody>
				{{#each projectStages}}
					{{> timeTableRow}}
				{{/each}}
			</tbody>
		</table>
	</div>
</template>
<!-- ###################################### -->
<template name="timeTableRow">
	<tr>
		<td><span>{{name}}</span></td>
		<td class="hidden-xs">{{timeFormat time}}</td>
		<td>
			<div class="time-completed {{#unless finished}} hide {{/unless}}"><i class="fa fa-fw fa-check"></i></div>
		</td>
		<td class="hidden-xs">
			{{#if editAvailable}}
				<span class="edit-time">Editar</span>
			{{else}}
				<span> - </span>
			{{/if}}
		</td>
	</tr>
</template>

<!-- ###################################### -->
<template name="timesBar">
	{{#with planSummary}}
		<div class="time-menu clearfix">
			<div>
				<i class="fa time-btn fa-play {{#if isRecordingTime}} time-btn-play {{/if}}"></i>
				<i class="fa time-btn fa-pause {{#unless isRecordingTime}} {{#if disabledPlayButton}} time-btn-disabled {{else}} time-status-pause {{/if}} {{/unless}} "></i>
			</div>
			{{#if currentStage}}
				<div class="btn time-submit">
					<span>Finalizar {{currentStage}}</span>
				</div>
			{{else}}
				<div class="btn time-submit-disabled">
					<span>Etapas Completadas</span>
				</div>
			{{/if}}
		</div>
	{{/with}}
</template>

<!-- ###################################### -->