<!-- ###################################### -->
<template name="scriptPSP1">
	<h4>Script del Proceso</h4>
	<span class="description">El propósito de este es script es indicar que debe hacer en cada etapa del proceso. Antes de iniciar el proceso debe cumplir con los requisitos y no te olvides de registrar el tiempo en cada etapa.</span>

	<div class="script-row first">
		<h4>Requisitos</h4>
		<ul>
			<li>Obtener una descripción del problema.</li>
		</ul>
	</div>

	<div class="script-row">
		<h4><a href="#script1_planning">Actividad Planeación</a></h4>
		<ul>
			<li>Hacer o revisar el documento de requerimientos.</li>
			<li>Completa la plantilla de estimación de tamaño.</li>
			<li>Utiliza el método <i>PROBE</i> para estimar las lineas añadidas y modificadas.</li>
			<li>Utiliza el método <i>PROBE</i> para estimar el tiempo desarrollo del proyecto.</li>
		</ul>
	</div>
	<div class="script-row">
		<h4><a href="#script1_developement">Actividad Desarrollo</a></h4>
		<ul>
			<li>Diseña el programa.</li>
			<li>Implementa el programa.</li>
			<li>Compila el programa, registra y corrige todos los defectos encontrados.</li>
			<li>Pruebe el programa, registra y corrige todos los defectos encontrados.</li>
			<li>Si es necesario completa el registro de los tiempos.</li>
		</ul>
	</div>
	<div class="script-row">
		<h4><a href="#script1_portmortem">Actividad Postmortem</a></h4>
		<ul>
			<li>Completa la plantilla de estimación de tamaño con los tamaños actuales.</li>
			<li>Completa el <i>PIP form</i>.</li>
		</ul>
	</div>
	<div class="script-row">
		<h4>Resultado</h4>
		<ul>
			<li>Programa completamente probado.</li>
			<li>Plan Summary con datos estimados y actuales.</li>
			<li>Registro de tiempos y defectos.</li>
			<li>Reporte de pruebas.</li>
			<li>Plan de mejora.</li>
		</ul>
	</div>
	<h4 class="in-list" id="script1_planning">Script de Planeación</h4>
	<span class="description">El propósito de este script es guiarlo durante la etapa de planeación de su proyecto.</span>
	<div class="script-row first">
		<br>
		<ul>
			<li>Si no se tiene, hacer el documento de requerimientos del proyecto.</li>
			<li>Revisar el documento de requerimientos para evitar ambiguedades, despejar dudas y delimitar alcances.</li>
			<li>Utiliza el método <i>PROBE</i> para estimar el tamaño de las lineas modificadas y añadidas en este programa.</li>
			<li>Completa la plantilla de estimación de tamañao del programa.</li>
			<li>Utiliza el método <i>PROBE</i> para estimar el tiempo que tomará desarollar el proyecto</li>
			<li><b>La herramienta asignará un tiempo planeado para cada basandose en el último proyecto que hayas finalizado.</b></li>
		</ul>
	</div>

	<h4 class="in-list" id="script1_developement">Script de Desarrollo</h4>
	<span class="description">El propósito de este script es guíarte en las etapas que hacen parte de la actividad de desarrollo.</span>
	<div class="script-row first">
		<h4>Etapa de Diseño</h4>
		<ul>
			<li>Diseña una solución de acuerdo a la especificación de requermientos.</li>
			<li>Si encuentras algún error en los requerimientos registralo como un defecto.</li>
			<li>No te olvides de registrar el tiempo.</li>
		</ul>
	</div>
	<div class="script-row">
		<h4>Etapa de Codificación</h4>
		<ul>
			<li>Implementa el programa de acuerdo al diseño.</li>
			<li>Si encuentras algún error en el diseño registralo como un defecto.</li>
			<li>No te olvides de registrar el tiempo.</li>
			<li>Completa el reporte de pruebas con los resultados obtenidos.</li>
		</ul>
	</div>
	<div class="script-row">
		<h4>Etapa de Compilación</h4>
		<ul>
			<li>Compila el programa, si aplica, hasta que no hayan errores.</li>
			<li>Registra y corrige cada error que aparezca.</li>
			<li>No te olvides de registrar el tiempo.</li>
		</ul>
	</div>
	<div class="script-row">
		<h4>Etapa de Pruebas</h4>
		<ul>
			<li>Prueba el programa, corrige y registra todos los defectos encontrados.</li>
			<li>Completa la plantilla de registro de pruebas, indicando las pruebas realizadas obtenidos.</li>
			<li>No te olvides de registrar el tiempo.</li>
		</ul>
	</div>

	<h4 class="in-list" id="script1_portmortem">Script de Postmortem</h4>
	<div class="script-row first">
		<br>
		<ul>
			<li>Verifica que todos los datos del <i>Plan Summary</i> sean correctos.</li>
			<li>Verifica que todos los datos de los defectos que encontraste sean correctos.</li>
			<li>Verifica que el numero de defectos encontrados y corregidos sean coherentes.</li>
			<li>Cuenta el tamaño total del programa, determina el tamaño de la base, lineas modificadas, añadidas, eliminadas, re usadas y nuevas lineas para reusar. Coloca estos datos en la plantilla para la estimación del tamaño.</li>
			<li>Completa el <i>PIP form</i></li>
		</ul>
	</div>
</template>
<!-- ###################################### -->