<!-- ###################################### -->
<template name="scriptsTemplate">
	{{> projectViewMenu}}
	<div class="project-view-content">
		{{#if $eq projectPSPversion "PSP 0"}}
			<h2>Script de PSP 0</h2>
			<h3>El propósito de este script es guíarte en el transcurso del proceso.</h3>
			<h4>Antes de iniciar debes cumplir con los siguientes criterios, algunos de estos estan en la herramienta así que no deberás preocuparte por estos.</h4>
			<table>
				<tr>
					<th> Descripción del problema </th>
					<th>Debes contar con la especificación del problema, en este debe estar bien definido lo que se estará y lo que no estará en el alcance del proyecto. </th>
				</tr>
				<tr>
					<th> Plan Summary</th>
					<th>Es el formulario donde está toda la información relevante del proeycto.</th>
				</tr>
				<tr>
					<th> Reporte de tiempos y defectos </th>
					<th> Es el registro del tiempo que tomó completar cada etapa y cuantos defectos fueron inyectados y removidos en cada una de estas </th>
				</tr>
			</table>
			<h4> Cada etapa tiene un propósito que se deberá cumplir en su totalidad. A continuación se muestran las activdades y las etapas que agrupan y los propósitos de estas. Te recomendamos seguir los consejos.</h4>
			<table>
				<tr>
					<td>Actividades</td>
					<td>Propósito</td>
					<td>Consejos</td>
				</tr>
				<tr>
					<td>Planeación</td>
					<td>
						<ul>
							<li> Si no se tiene, obtener el documento de requisitos del proyecto.</li>
							<li> Estimar el tiempo que tomará finalizar el proyecto.</li>
							<li> Llenar el formulario <i> Plan Summary</i> con los datos obtenidos.</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>Toma el tiempo de esta etapa antes de llenar los datos del <i>Plan Summary</i> y sumale el resultado a tu estimación.</li>
							<li>Recuerda que la estimación no es el fuerte de PSP0 así que no dediques mucho en la estimación del tiempo.</li>
							<li> Inicialmente el <i>Plan Summary</i> lo deberás llenar con el tiempo que tomará completar el proyecto.</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>Desarollo (Diseño, Codificación, Compilación y Pruebas)</td>
					<td>
						<ul>
							<li> Diseña la solución del problema-proyecto.</li>
							<li> Implementa el programa de acuerdo al diseño.</li>
							<li> Compila el programa, corrige y registra todos los defectos encontrados.</li>
							<li> Prueba el programa, corrige y registra todos los defectos encontrados.</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>NO te olvides de tomar el tiempo cada vez que inicies una etapa.</li>
							<li>Es probable que en el diseño encuentres defectos en la planeación, como lo podrían ser requerimientos ambiguos, deberás registrar estos defectos.</li>
							<li>La metología cuenta con que acabarás el código sin parar de ahí la razón de la etapa de compilación, has el cambio entre etapas cada vez que compiles tu código.</li>
							<li>Muchos de los defectos no se encontrarán en la etapa en la que se cometieron, así que reportalos en la que lo encontraste.</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td> Post Mortem</td>
					<td> Completa el <i>Plan Summary</i> con los tiempos y defectos faltantes</td>
					<td>
						<ul>
							<li> Si hiciste las cosas bien esta etapa será un cierre de proyecto y servirá de retroalimentacion ya que verás tus resultados y podrás hacer un contraste entre lo que estimaste y lo que te de verdad te demoraste.</li>
						</ul>
					</td>
				</tr>
			</table>
		{{/if}}
	</div>
</template>
<!-- ###################################### -->