<!-- ###################################### -->
<template name="scriptPSP0">
	<h4>Script del Proceso</h4>
	<span class="description">El propósito de este es script es indicar que debe hacer en cada etapa del proceso. Antes de iniciar el proceso debe cumplir con los requisitos y no te olvides de registrar el tiempo en cada etapa.</span>
	<div class="script-row first">
		<h4>Requisitos</h4>
		<ul>
			<li>Obtener una descripción del problema.</li>
		</ul>
	</div>
	<div class="script-row">
		<h4><a href="#script0_planning">Actividad Planeación</a></h4>
		<ul>
			<li>Hacer o revisar el documento de requerimientos.</li>
			<li>Estimar el tiempo total que le tomará finalizar el proyecto, incluir este tiempo en el <i>Plan Summary.</i></li>
		</ul>
	</div>
	<div class="script-row">
		<h4><a href="#script0_developement">Actividad Desarrollo</a></h4>
		<ul>
			<li>Diseña el programa.</li>
			<li>Implementa el programa.</li>
			<li>Compila el programa, registra y corrige todos los defectos encontrados.</li>
			<li>Prueba el programa, registra y corrige todos los defectos encontrados.</li>
			<li>Si es necesario completa el registro de los tiempos.</li>
		</ul>
	</div>	
	<div class="script-row">
		<h4>Resultado</h4>
		<ul>
			<li>Programa completamente probado.</li>
			<li>Plan Summary con datos estimados y actuales.</li>
			<li>Registro de tiempos y defectos.</li>
		</ul>
	</div>

	<h4 class="in-list" id="script0_planning">Script de Planeación</h4>
	<span class="description">El propósito de este script es guiarlo durante la etapa de planeación de su proyecto.</span>
	<div class="script-row first">
		<h4>Planeación</h4>
		<ul>
			<li>Si aún no tienes definidos los requerimientos del proyecto; debes de crear un documento que contenga estos datos.</li>
			<li>En el documento de los requerimientos se debe de especificar detalladamente el alcance del proyecto buscando con ello evitar el desarrollo de elementos innecesarias y a su vez evitar olvidar el desarrollo de módulos.</li>
			<li>Debe de elegir un valor estimado para el tiempo total que piensa que le tomará finalizar el proyecto.</li>
			<li>Este valor estimado de tiempo deberia de llenarse antes de generar otros datos del <i>Plan Summary</i> o de empezar el documento de los requerimientos.</li>
			<li>Recuerda que la estimación no es el fuerte de PSP0 así que el valor del tiempo total no tiene que ser exacto.</li>
		</ul>
	</div>

	<h4 class="in-list" id="script0_developement">Script de Desarrollo</h4>
	<span class="description">El propósito de este script es guíarte en las etapas que hacen parte de la actividad de desarrollo.</span>
	<div class="script-row first">
		<h4>Actividades de desarollo (Diseño, Codificación, Compilación y Pruebas)</h4>
		<ul>
			<li>Diseña la solución del problema-proyecto.</li>
			<li>Implementa el programa de acuerdo al diseño.</li>
			<li>Compila el programa, corrige y registra todos los defectos encontrados.</li>
			<li>Prueba el programa, corrige y registra todos los defectos encontrados.</li>
		</ul>
		<h4>Consejos</h4>
		<ul>
			<li>No te olvides de tomar el tiempo cada vez que inicies una etapa.</li>
			<li>La metodología cuenta con que acabarás el código sin parar de ahí la razón de la etapa de compilación, has el cambio entre etapas cada vez que compiles tu código.</li>
			<li>Registra y corrige los defectos en la etapa en la que los encontraste.</li>
		</ul>
	</div>

	<h4 class="in-list">Script de Postmortem</h4>
	<div class="script-row first">
		<br>
		<ul>
			<li>Verifica que todos los datos del <i>Plan Summary</i> sean correctos.</li>
			<li>Verifica que todos los datos de los defectos que encontraste sean correctos.</li>
			<li>Verifica que el numero de defectos encontrados y corregidos sean coherentes.</li>
			<li>Puedes contar el tamaño total del programa y registrar los datos en el Plan summary, estos campos sólo se habilitarán cuando ésta etapa este activa.<b> Este punto es opcional pero si lo haces te ayudará en las estimaciones de procesos más rigurosos como lo son PSP 1 y PSP 2. </b> </li>
		</ul>
	</div>
</template>
<!-- ###################################### -->