<!-- ###################################### -->
<template name="createDefectModal">
	<div id="createModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3>{{displayTitle}}</h3>
					{{#if parentId}}
						<p class="defect-header-description">Este es un defecto hijo de otro. Puedes volver al defecto padre dando <a>click aqui</a>.</p>
					{{/if}}
					<span data-dismiss="modal"><i class="fa fa-times close"></i></span>
				</div>
				{{> createDefect}}
			</div>
		</div>
	</div>
</template>
<!-- ###################################### -->
<template name="createDefect">
	<div class="modal-body create-defect-modal">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="{{#if $and errorState ($eq defectData.typeDefect 'Elegir tipo')}} final-dropdown-error-box {{else}} final-dropdown-box {{/if}}">
					<span>Tipo de defecto *</span>
					<button type="button" data-toggle="dropdown">
						{{defectData.typeDefect}}
						<i class="fa fa-chevron-down"></i>
					</button>
					<ul class="dropdown-menu">
						{{#each allDefectTypes}}
							<li class="defect-select-field" data-type="typeDefect" data-value="{{name}}">{{name}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="final-input-box">
					<span>Numero veces registrado</span>
					<input type="number" min="1" value="{{defectData.fixCount}}" class="defect-input-field" data-field="fixCount" placeholder="Conteo de Correcciones">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="{{#if $and errorState ($eq defectData.injected 'Elegir etapa')}} final-dropdown-error-box {{else}} final-dropdown-box {{/if}}">
					<span>Etapa inyectado *</span>
					<button type="button" data-toggle="dropdown">
						{{defectData.injected}}
						<i class="fa fa-chevron-down"></i>
					</button>
					<ul class="dropdown-menu">
						{{#each injectedPhases}}
							<li class="defect-select-field" data-type="injected" data-value="{{name}}">{{name}}</li>
						{{/each}}
					</ul>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="{{#if $and errorState ($eq defectData.removed 'Elegir etapa')}} final-dropdown-error-box {{else}} final-dropdown-box {{/if}}">
					<span>Etapa removido *</span>
					<button type="button" data-toggle="dropdown">
						{{defectData.removed}}
						<i class="fa fa-chevron-down"></i>
					</button>
					<ul class="dropdown-menu">
						{{#each removedPhases}}
							<li class="defect-select-field" data-value="{{name}}">{{name}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		<div class="row row-defect-buttons">
			<div class="col-xs-12 col-sm-6 col-md-6 defect-time">
				<i class="fa time-btn fa-play {{#if timeStatus}} time-btn-play {{/if}}"></i>
				<i class="fa fa-pause time-btn {{#unless timeStatus}} time-status-pause {{/unless}}"></i>
				<span class="defect-log-time">{{projectTotalTime}}</span>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="btn defect-create-son">Crear Defecto sobre Este</div>
			</div>
		</div>
		<div class="{{#if $and errorState ($not descriptionText)}} final-textarea-error-title-box {{else}} final-textarea-box {{/if}}">
			<span>Descripcion del defecto *</span>
			<textarea type="text" class="defect-modal-description defect-input-field" data-field="description" placeholder="Descripción" value="{{defectData.description}}"></textarea>
			<i class="fa fa-times"></i>
		</div>
		<br>
	</div>
	<div class="modal-footer">
		{{#if ifLoadsData}}
			<span class="pry-modal-create pull-right">Crear Defecto</span>
		{{else}}
			<span class="psp-btn pry-modal-create pull-right">Guardar Cambios</span>
		{{/if}}
		<span data-dismiss="modal">Cerrar</span>
	</div>
</template>
<!-- ###################################### -->