<!-- ###################################### -->
<template name="createQuestionModal">
	<div id="createModal" class="modal fade" role="dialog">
		<div class="modal-dialog general-modal">
			<div class="modal-content">
				<div class="modal-header">
					<h3>Crear Nueva Pregunta</h3>
					<p>Aqui puedes crear una nueva pregunta para la comunidad.</p>
					<span data-dismiss="modal"><i class="fa fa-times close"></i></span>
				</div>
				{{> createQuestion}}
			</div>
		</div>
	</div>
</template>
<!-- ###################################### -->
<template name="createQuestion">
	<div class="modal-body">
		<div class="create-project-row">
			<div class="{{#if errorStateTitle}} input-error-title-box {{else}} input-box {{/if}}">
				<span class="pull-left">Titulo</span>
				<input class="question-title" type="text" placeholder="Titulo de la pregunta">
				<i class="fa fa-times"></i>
			</div>
			<div class="dropdown-box">
				<span>Categoria</span>
				<button type="button" data-toggle="dropdown">
					{{questionCategory}}<i class="fa fa-caret-down"></i>
				</button>
				<ul class="dropdown-menu">
					<li class="question-category-option" data-value="general">General</li>
					<li class="question-category-option" data-value="interface">Interfaz</li>
					<li class="question-category-option" data-value="psp">Metodología PSP</li>
				</ul>
			</div>
		</div>
		<div class="{{#if errorStateDescription}} textarea-error-title-box {{else}} textarea-box {{/if}}">
			<span>Descripción</span>
			<textarea class="question-description" placeholder="Ingresar la descripción de tu pregunta ..."></textarea>
			<i class="fa fa-times"></i>
		</div>
		<br>
		<div class="modal-footer">
			<span class="pull-right primary-button pry-modal-create">Crear Pregunta</span>
			<span class="pull-left default-button" data-dismiss="modal">Cancelar</span>
		</div>
	</div>
</template>
<!-- ###################################### -->