<!-- ###################################### -->
<template name="editProfileModal">
	<div id="createModal" class="modal fade" role="dialog">
		<div class="modal-dialog profile-modal">
			<div class="modal-content">
				<div class="modal-header">
					<span data-dismiss="modal"><i class="fa fa-times close"></i></span>
				</div>
				{{> profileView}}
			</div>
		</div>
	</div>
</template>
<!-- ###################################### -->
<template name="profileView">
	<div class="modal-body create-defect-modal">
		{{#with userData}}
			<div class="text-center">
				<div class="profile-avatar" style="background-image: url('{{getUserAvatarUrl}}');" id="profilePicUploader">
					<div class="centered-outer">
						<i class="centered-inner fa fa-camera"></i>
					</div>
				</div>
				<input type="file" class="image-upload hide" enctype="multipart/form-data" accept="image/*"/>
			</div><br>
			<!--{{#with currentUpload }}
				<span class="profile-progress-message">Subiendo Imagen...</span>
			{{else}}
				<button class="btn profile-default-image">Volver a imagen por defecto</button>
				<span class="profile-edit-message">Puedes elegir una nueva foto de perfil de formato (PNG o JPG).</span>
			{{/with}}-->
			<div class="input-box">
				<input type="text" id="fname" placeholder="Nombre aqui" value="{{profile.fname}}">
			</div>
			<div class="input-box">
				<input type="text" id="lname" placeholder="Apellido aqui" value="{{profile.lname}}">
			</div>
			<br>
		{{/with}}
	</div>
	<div class="modal-footer">
		<span class="pull-right primary-button save-profile-settings"> Guardar Cambios</span>
		<span class="pull-left default-button" data-dismiss="modal">Cerrar</span>
	</div>
</template>
<!-- ###################################### -->