<!-- ###################################### -->
<template name="editTimeModal">
	<div id="createModal" class="modal fade" role="dialog">
		<div class="modal-dialog general-modal">
			<div class="modal-content">
				<div class="modal-header">
					<h3>{{modalTitle}}</h3>
					<p>{{modalHeader}}</p>
					<span data-dismiss="modal"><i class="fa fa-times close"></i></span>
				</div>
				{{> editTime}}
			</div>
		</div>
	</div>
</template>
<!-- ###################################### -->
<template name="editTime">
	<div class="modal-body">
		<span class="edit-time-label">Tiempo a modificar *</span>
		<div class="time-selector-box">
			<div>
				<div>
					<i class="fa fa-caret-up" data-value="hours-selector"></i>
					<i class="fa fa-caret-down" data-value="hours-selector"></i>
				</div>
				<input type="text" class="edit-time-hours" value="{{hoursValue}}">
				<span>HOR</span>
			</div>
			<div>
				<div>
					<i class="fa fa-caret-up" data-value="minutes-selector"></i>
					<i class="fa fa-caret-down" data-value="minutes-selector"></i>
				</div>
				<input type="text" class="edit-time-minutes" value="{{minutesValue}}">
				<span>MIN</span>
			</div>
			<div>
				<div>
					<i class="fa fa-caret-up" data-value="seconds-selector"></i>
					<i class="fa fa-caret-down" data-value="seconds-selector"></i>
				</div>
				<input type="text" class="edit-time-seconds" value="{{secondsValue}}">
				<span>SEG</span>
			</div>
		</div>

		<span class="edit-time-label">Seleccionar accion *</span>
		<div class="edit-time-options">
			<div class="time-option {{#if $eq selectedOption 'add-time'}} time-selected {{/if}} {{#if addDisabled}} time-disabled {{/if}}" data-value="add-time">
				<span><i class="fa fa-fw fa-check"></i></span>
				<p>Agregar tiempo</p>
			</div>
			<div class="time-option {{#if $eq selectedOption 'delete-time'}} time-selected {{/if}}" data-value="delete-time">
				<span><i class="fa fa-fw fa-check"></i></span>
				<p>Restar tiempo</p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<p class="time-footer-description">Tu tiempo actual en la etapa "{{currentStage}}" es {{currentTime}} y el nuevo valor será {{newTime}}.</p>
		{{#if selectedOption}}
			<span class="pull-right primary-button finish-edit-time">Asignar Tiempo</span>
			<span class="pull-left default-button" data-dismiss="modal">Cancelar</span>
		{{else}}
			<span class="pull-left default-button edit-time-cancel" data-dismiss="modal">Cancelar</span>
		{{/if}}
	</div>
</template>
<!-- ###################################### -->