//--------------- Colors Main Menu ---------------
$primary-bg:  						#283346								!default;
$primary-dark-bg:					#1d2531								!default;
$primary-light-bg:				#6F83A7								!default;

// This is for the right hover popup message from each menu icon.
$popup-bg:							#2d3339								!default;

//--------------- Colors User Menu ---------------
$search-box-bg:					#f0f2f5								!default;

//------------- Login / Register View ------------
$login-box-gray:					#F1F5F8								!default;

//----------------- Border Colors ----------------

// This is used in the user menu and in the dynamic template menu
$border:								#ebebeb								!default;

//----------- Colors Dynamic Template ------------

//----------------- General Colors ---------------
$white:								#ffffff								!default;
$blue:								#1A95FB								!default;

//----------------- General Colors ---------------
$background:						#F5F7FA								!default;
$success:							#3cd964								!default;
$success-hover:					#2cc44c								!default;
$danger:								#ed5a5a								!default;
$danger-hover:						#C14343								!default;

//This color is used in the search box
$project-title-light:			#9fabaf								!default;

$main-title-color:				#384047								!default;
$main-text-color:					#8d9aa5								!default;

//---------------- Inputs, Dropdowns -------------
$input-text:						#a6b0b7								!default;
$input-bg:							#E8EBED								!default;
$main-text-color:					#8d9aa5								!default;
$input-button:						#B7C0C7								!default;

//--------------- Project Box Colors -------------
$pj-text:							#99a4b7								!default;

$pj-color-1:						#1A95FB								!default;
$pj-color-2:						#7A98E8								!default;

//------------- Status Messages COlors -----------
$status-danger:					#ECC8C5								!default;
$status-danger-dark:				#C79995								!default;

//------------------------------------------------