//--------------- Colors Main Menu ---------------
$primary-bg:  						#283346								!default;
$primary-dark-bg:					#1d2531								!default;
$primary-light-bg:				#6F83A7								!default;

$success:							#38d80b								!default;
$success-dark:						#3dc111								!default;
$warning:							#f4db05								!default;
$warning-dark:						#d6bd09								!default;
$danger:								#d60d21								!default;
$danger-dark:						#bc132b								!default;

$background:						#f5f7fa	 							!default;
$popup-bg:							#dae1ec								!default;
$menu-popup-bg:					#2d3339								!default;

$border:								#ebebeb								!default;

$white:								#ffffff								!default;
$black:								#2e353a								!default;
$blue:								#50aaff								!default;
$blue-dark:							#3a93dd								!default;
$blue-light:						#B3E0FF								!default;
$text:								#95a6b9								!default;
$text-dark:							#5f6c80								!default;


//----------- Used for svg icon colors -----------
$icon:								$text-dark							!default;

//------------- Status Messages COlors -----------
$status-success:					#BBDA5C								!default;
$status-dark-success:			#89A827								!default;
$status-warning:					$warning								!default;
$status-dark-warning:			$warning-dark						!default;
$status-danger:					#EE5B5F								!default;
$status-dark-danger:				#CE131B								!default;

//------------- Login / Register View ------------
$facebook:						#008CC7								!default;
$facebook-dark:				#0082BD								!default;
$google:							#FF6B4A								!default;
$google-dark:					#FF4D38								!default;


//------------------------------------------------












$input-border:					$popup-bg							!default;
$input-empty-text:				#8ea4b8								!default;
$input-full-text:					$popup-bg							!default;







//----------------- General Colors ---------------
$background-text:					#CCCFD4								!default;
$success:							#3cd964								!default;
$success-hover:					#2cc44c								!default;
$danger:								#ed5a5a								!default;
$danger-hover:						#C14343								!default;
$warning:							#F4DB05								!default;
$warning-hover:					#B49D00								!default;


//This color is used in the search box
$project-title-light:			#9fabaf								!default;

$table-title-color:				#B7B7B7								!default;

// This are used for the menu with the defect log, plan summary, etc.
$project-option-selected:		#95a6b9								!default;

//---------------- Inputs, Dropdowns -------------
$input-text:						#a6b0b7								!default;
$input-bg:							#E8EBED								!default;
$input-button:						#B7C0C7								!default;

//--------------- Project Box Colors -------------
$pj-text:							#99a4b7								!default;

$iteration-bg:						#CED5DE								!default;
//------------- Status Messages COlors -----------

$status-bg:						#DAE1EC									!default;

//------------------------------------------------
$modal-title:					#4E6376									!default;
$modal-description:			#838B9E									!default;

//------------------------------------------------