//--------------- Colors Main Menu ---------------
$primary-bg:  						#283346								!default;
$primary-dark-bg:					#1d2531								!default;
$primary-light-bg:				#6F83A7								!default;

$success:							#38d80b								!default;
$success-dark:						#3dc111								!default;
$warning:							#f4db05								!default;
$warning-dark:						#d6bd09								!default;
$danger:								#ef1b3a								!default;
$danger-dark:						#d6183c								!default;

$background:						#f5f7fa	 							!default;
$popup-bg:							#dae1ec								!default;
$menu-popup-bg:					#2d3339								!default;

$border:								#ebebeb								!default;
$input-border:						#e3ecf3								!default;

$white:								#ffffff								!default;
$black:								#2e353a								!default;
$blue:								#50aaff								!default;
$blue-dark:							#3a93dd								!default;
$blue-light:						#B3E0FF								!default;
$text:								#95a6b9								!default;
$text-dark:							#5f6c80								!default;


//----------- Used for svg icon colors -----------
$icon:								$text-dark							!default;

//------------- Status Messages COlors -----------
$status-success:					#BBDA5C								!default;
$status-dark-success:			#89A827								!default;
$status-warning:					$warning								!default;
$status-dark-warning:			$warning-dark						!default;
$status-danger:					#EE5B5F								!default;
$status-dark-danger:				#CE131B								!default;

//------------- Login / Register View ------------
$facebook:							#008CC7								!default;
$facebook-dark:					#0082BD								!default;
$google:								#FF6B4A								!default;
$google-dark:						#FF4D38								!default;

//------------------------------------------------
