@import '_variables.scss';

.color-disabled {
	color: #95A6B9;
}

.color-success {
	color: $success;
}

.color-danger {
	color: $danger;
}

.background-success {
	background-color: $success;
}

.background-danger {
	background-color: $danger;
}

.primary-button {
	background-color: $blue;
	border: none;
	border-radius: 4px;
	color: $white;
	font-size: 13px;
	height: 40px;
	outline: none;
	padding: 10px;
	cursor: pointer;

	&:hover {
		background-color: $blue-dark;
	}
}

.cancel-button {
	border: 2px solid #EBEBEB;
	border-radius: 4px;
	color: #566C78;
	font-size: 13px;
	height: 40px;
	outline: none;
	padding: 9px 10px 11px 10px;
	cursor: pointer;
}




//----------------- General Colors ---------------
.success {
	background-color: $success;
	color: $white;
}

.warning {
	background-color: $warning;
	color: $warning-dark;
}

.danger {
	background-color: $danger;
	color: $white;
}




// .primary-button {
// 	height: 45px;
// 	display: inline-block;
// 	padding-left: 15px;
// 	padding-right: 15px;
// 	background-color: $white;
// 	color: $blue;
// 	font-size: 11.5pt;
// 	margin-top: 10px;
// 	border: none;
// 	line-height: 42.5px;
// 	cursor: pointer;
// 	text-align: center;
// 	border: 1px solid $blue;
// 	outline: none!important;
// 	@include border-radius($default-border-radius);

// 	&:hover {
// 		background-color: $blue;
// 		border: 1px solid $blue;
// 		color: $white;
// 	}

// 	&:focus {
// 		background-color: $blue;
// 		border: 1px solid $blue;
// 		color: $white;
// 	}
// }

.new-button {
	padding: 10px 15px;
	background-color: $blue;
	color: $white!important;
	font-weight: 500;
	font-size: 11pt;
	border: none;
	cursor: pointer;
	text-align: center;
	outline: none!important;
	@include border-radius($default-border-radius);

	&:hover {
		background-color: $blue-dark;
		color: $white;
	}

	&:focus {
		background-color: $green;
		color: $white;
	}
}

.default-button {
	@extend .primary-button;
	color: $text-dark;
	border: 1px solid $text;

	&:hover {
		background-color: $text;
		border: 1px solid $text;
		color: $white;
	}

	&:focus {
		background-color: $text;
		border: 1px solid $text;
		color: $white;
	}
}

.disabled-button {
	@extend .primary-button;
	color: $disabled-button;
	border: 1px solid $disabled-button;
	cursor: default;

	&:hover, &:focus {
		background-color: $white;
		border: 1px solid $disabled-button;
		color: $disabled-button;
	}

}

//------------------- Main Menu ------------------

// This is used to center what is going to be
// displayed (e.g. accessLayout).
.centered-outer {
	width:100%;
	height:100%;
	position: relative;
	display:table;
	text-align:center;

	.centered-inner {
		display:table-cell;
		margin:0;
		vertical-align: middle;

		.inner {
			height:auto;
		}
	}

}

.hide {
	display: none;
}

//------------- Global Input, Dropdown -----------
.dropdown {
	.dropdown-menu {
		width: 100%;
		margin-top: -3px;
		li {
			padding: 9px 10px 7px 10px;
			cursor: pointer;
			&:hover {
				background-color: $background;
			}
		}
	}
}

.input-box {
	width: 100%;
	position: relative;

	span {
		display: block;
		color: $text;
		font-weight: 400;
		padding-bottom: 5px;
		text-align: center;
	}

	input {
		width: 100%;
		outline: none;
		padding: 12px 28px 12px 12px;
		margin-bottom: 10px;
		color: $text-dark;
		font-size: 11pt;
		@include border-radius($default-border-radius);
		@include placeholder-color($text, 200);
		border: 1px solid $border-input;

		&:focus {
			border: 1px solid $blue;
		}
	}

	i {
		color: $danger;
		position: absolute;
		top: 16px;
		right: 10px;
		opacity: 0;
	}
}

.input-error-box {
	@extend .input-box;

	input {
		border: 1px solid $danger;
	}

	i {
		opacity: 1;
	}
}

.input-error-title-box {
	@extend .input-box;

	input {
		border: 1px solid $danger;
	}

	i {
		top: 40px;
		right: 18px;
		opacity: 1;
	}
}


// .dropdown-box {
// 	width: 100%;
// 	position: relative;

// 	span {
// 		display: block;
// 		color: $text;
// 		font-weight: 400;
// 		padding-bottom: 5px;
// 	}

// 	button {
// 		width: 100%;
// 		position: relative;
// 		outline: none;
// 		padding: 12px 26px 12px 12px;
// 		margin-bottom: 10px;
// 		color: $text-dark;
// 		font-size: 11pt;
// 		text-align: left;
// 		background-color: $white;
// 		@include border-radius($default-border-radius);
// 		@include placeholder-color($text, 200);
// 		border: 1px solid $border-input;

// 		&:focus {
// 			border: 1px solid $blue;
// 		}

// 		i {
// 			position: absolute;
// 			top: 3.5px;
// 			right: 3.5px;
// 			color: $text-dark;
// 			font-size: 10pt;
// 			padding: 12px 6px;
// 		}
// 	}

// 	.dropdown-menu {
// 		width: 100%;
// 		margin-top: -5px;
// 		border: 1px solid $border;

// 		li {
// 			padding: 5px 5px 5px 10px;
// 			color: $text-dark;
// 			cursor: pointer;

// 			&:hover {
// 				background-color: $background;
// 			}
// 		}
// 	}
// }

// .dropdown-error-box {
// 	@extend .dropdown-box;

// 	button {
// 		border: 1px solid $danger;
// 	}
// }

.textarea-box {
	width: 100%;
	position: relative;

	span {
		display: block;
		color: $text;
		font-weight: 400;
		padding-bottom: 5px;
	}

	textarea {
		width: 100%;
		max-width: 100%;
		min-height: 80px;
		outline: none;
		padding: 12px 28px 12px 12px;
		margin-bottom: 10px;
		color: $text-dark;
		font-size: 11pt;
		@include border-radius($default-border-radius);
		@include placeholder-color($text, 200);
		border: 1px solid $border-input;

		&:focus {
			border: 1px solid $blue;
		}
	}

	i {
		color: $danger;
		position: absolute;
		top: 16px;
		right: 10px;
		opacity: 0;
	}
}

.textarea-error-box {
	@extend .textarea-box;

	textarea {
		border: 1px solid $danger;
	}

	i {
		opacity: 1;
	}
}

.textarea-error-title-box {
	@extend .textarea-box;

	textarea {
		border: 1px solid $danger;
	}

	i {
		top: 36px;
		opacity: 1;
	}
}

//----------------- Box with Menu ----------------
.content-menu-box {
	width: calc(100% - 230px - 20px);
	height: 100%;
	float: left;
	overflow-y: scroll;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background: #FF0000;
	}
}

.content-menu-extra {
	width: 230px;
	float: right;
	overflow: hidden;
}

//---------- Fix Chrome Yellow Input Color -------
// input:-webkit-autofill {
// 	-webkit-box-shadow: 0 0 0px 1000px white inset;
// }

//------------------------------------------------
// Landscape phones and portrait tablets
@media (max-width: 767px) {
	.content-menu-box {
		width: calc(100% + 40px);
		margin-top: 20px;
		overflow: hidden;
		height: initial;
	}

	.content-menu-extra {
		width: 100%;
		float: right;
		display: block;
	}
}

//------------------------------------------------