@import '_variables.scss';

//------------------ Help View -------------------
.box-container {
	background-color: white;
	width: 100%;
	@include border-radius($default-border-radius);
	border-bottom: 2px solid $box-border;
}

.help-containers {
	@include clearfix;

	div {
		width: 50%;
		padding-bottom: 20px;
		cursor: default;

		.new-button {
			display: inline-block;
		}

		h4 {
			font-weight: 500;
			font-size: 13pt;
			color: $text-dark;
			padding: 10px 15px 10px 0;
		}

		p {
			color: $text;
		}

		&:first-child {
			float: left;
			padding-right: 15px;
			padding-left: 15px;
		}

		&:last-child {
			float: right;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

//------------------------------------------------

// Portrait tablets and small desktops
@media (min-width: 768px) and (max-width: 991px) {

}

// Landscape phones and portrait tablets
@media (max-width: 767px) {
	.help-containers {
		div {
			width: 100%;
		}
	}
}
//------------------------------------------------