@import '_variables.scss';

//------------------ Help View -------------------
.help-container {
	width: calc(33.3% - 25px)!important;
	min-height: 380px;
	margin-left: 20px;
	float: left;
	margin-right: 0!important;

	&:first-child {
		margin-left: 20px;
	}

	.main-option-title {
		text-align: center;
	}

	p {
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 15px;
		margin-bottom: 20px;
		color: #566C78;
		text-align: center;
	}

	div {
		display: block;
		text-align: center;

		img {
			width: 80px;
			height: 80px;
			margin-top: 15px;
			border-radius: 100%;
			background-color: gray;
			border: 0;
			margin-bottom: 15px;
		}
	}

	.primary-button {
		margin: 15px 15px 0 15px;
		display: inline-block;
	}
}

.tutorial-modal-state {
	text-align: center;
	margin-top: 15px;

	div {
		display: inline-block;

		.material-icons {
			font-size: 13px;
			color: #566C78;
			cursor: default;
		}
	}
}

.question {
	min-height: 130px;
	width: 100%;
	position: relative;
	background-color: rgba(#F8F9FA, .7);
	border-bottom: 1px solid rgba($border, .5);
	padding: 15px;
	cursor: pointer;
	@include clearfix();

	&.user-question {
		background-color: $white;
	}

	.user-image {
		width: 45px;
		height: 45px;
		display: inline-block;
		margin-left: 5px;
		border-radius: 50%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		padding: 15px;
	}

	.user-content {
		display: inline-block;
		width: calc(100% - 70px);
		padding-right: 100px;
		float: right;
		top: 40px;
		left: 80px;

		h4 {
			font-size: 16px;
			font-weight: 600;
			color: #566C78;
			cursor: pointer;
			margin-top: 0;
			margin-bottom: 5px;
		}

		span {
			color: #b1b7c1;
			font-weight: 400;
			font-size: 14px;
			cursor: pointer;
		}
	}

	.information {
		font-size: 400;
		color: #b1b7c1!important;
		display: block;
		position: absolute;
		bottom: 20px;

		.project-category {
			color: $white!important;
			font-style: normal;
			border-radius: 20px;
			padding: 4px 9px;
			margin-right: 5px;

			&.completed {
				background-color: lightgray;
			}
		}
	}

	.question-count {
		position: absolute;
		right: 15px;
		top: 15px;
		text-align: center;

		h2 {
			color: $text;
			font-weight: 600;
			font-size: 22px;
			margin-bottom: 0;
			margin-top: 0;

			i {
				font-weight: 600;
				margin-right: -5px;
			}
		}

		span {
			color: $text;
			font-size: 13px;
			font-weight: 400;
		}

		&.completed {
			h2, span {
				color: $green;
			}
		}
	}
}

.general-question {
	min-height: 100px;
	width: 100%;
	position: relative;
	background-color: $white;
	border-bottom: 1px solid rgba($border, .5);
	padding: 15px;
	@include clearfix();
	cursor: default;

	.image {
		width: 45px;
		height: 45px;
		display: inline-block;
		margin-left: 5px;
		border-radius: 50%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		padding: 15px;
	}

	.content {
		display: inline-block;
		width: calc(100% - 80px);
		float: right;
		top: 40px;
		left: 80px;

		.project-category {
			color: $white!important;
			font-style: normal;
			border-radius: 20px;
			padding: 4px 9px;
			margin-right: 5px;
		}

		.information {
			font-weight: 400;
			display: block;
			margin-bottom: 15px;
			cursor: default;

			strong {
				font-weight: 600;
				color: #566C78;
				font-size: 14px;
			}
		}

		.answer-text {
			background-color: #F8F9FA;
			border: none;
			border-radius: 4px;
			color: #566C78;
			display: block;
			font-size: 13px;
			max-width: 100%;
			outline: none;
			padding: 10px;
			width: 100%;
			height: 80px;
		}

		.group {
			width: 10px;
			height: 10px;
			float: left;
			display: inline-block;
			margin-top: 4px;
			margin-right: 5px;
			@include border-radius($circle-border-radius);
		}

		h4 {
			font-weight: 600;
			color: $text-dark;
			font-size: 15pt;
			cursor: pointer;
			margin-top: 0;
			cursor: default;
		}

		span {
			color: $text;
			font-weight: 400;
			cursor: pointer;
		}

		.description {
			display: block;
			font-size: 14px;
			cursor: default;
		}
	}
}

.question-answer {
	min-height: 100px;
	width: 100%;
	position: relative;
	background-color: #fafafa;
	border-bottom: 1px solid rgba($border, .5);
	padding: 15px;
	cursor: pointer;
	@include clearfix;
	cursor: default;

	.image {
		width: 45px;
		height: 45px;
		display: inline-block;
		margin-left: 5px;
		border-radius: 50%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		padding: 15px;
	}

	.content {
		display: inline-block;
		width: calc(100% - 80px);
		float: right;
		top: 40px;
		left: 80px;

		.information {
			font-weight: 400;
			cursor: default;

			strong {
				font-weight: 500;
			}

			.name {
				color: $text-dark;
				font-weight: 600;
			}
		}

		h4 {
			font-weight: 600;
			color: $text-dark;
			font-size: 15pt;
			cursor: pointer;
			margin-top: 0;
		}

		span {
			color: $text;
			font-weight: 400;
			cursor: pointer;
		}

		.description {
			display: block;
			cursor: default;
		}
	}
}



.tutorial-container {
	padding: 20px;

	.row {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid $border;

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
	}

	h2 {
		margin: 0;
		font-size: 13pt;
		padding-bottom: 10px;
		color: $text-dark;
		display: inline-block;
	}

	span {
		font-size: 10.5pt;
		color: $text;
	}
}

//------------------------------------------------

// Portrait tablets and small desktops
@media (min-width: 768px) and (max-width: 991px) {
	.help-container {
		width: calc(100% - 35px)!important;
		min-height: 300px;
	}
}

// Landscape phones and portrait tablets
@media (max-width: 767px) {
	.help-container {
		width: calc(100% - 20px)!important;
		min-height: 300px;
		margin-bottom: 15px!important;
		margin-left: 10px!important;
	}

	.help-containers {
		div {
			width: 100%;
		}
	}

	.question {
		padding-left: 0;
		padding-right: 0;
		// min-height: 210px;

		.user-image {
			width: 35px;
			height: 35px;
			margin-left: 10px;
		}

		.user-content {
			width: calc(100% - 55px);
			padding-right: 10px;
			padding-top: 10px;
			padding-bottom: 50px;

			.information {
				left: 10px;
				bottom: 10px;
				line-height: 25px;
			}
		}

		.question-count {
			position: absolute;
			right: 5px;
			top: 5px;
			text-align: center;

			h2 {
				font-size: 15px;
				display: inline-block;

				i {
					font-size: 15pt;
				}
			}
		}
	}

	.question-answer {
		padding-left: 0;
		padding-right: 0;

		.image {
			width: 35px;
			height: 35px;
			margin-left: 10px;
		}

		.content {
			width: calc(100% - 50px);
			padding-right: 5px;

			.information {
				display: block;
			}
		}
	}

	.general-question {
		padding-left: 0;
		padding-right: 0;

		.image {
			width: 35px;
			height: 35px;
			margin-left: 10px;
		}

		.content {
			width: calc(100% - 50px);
			padding-right: 5px;
			word-wrap: break-word;

			.information {
				line-height: 25px;
			}

			.textarea-box {
				padding-left: 10px;
			}

			.new-button {
				margin-left: 10px;
			}
		}
	}
}
//------------------------------------------------