@import '_variables.scss';

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	outline: none;
	font-family: 'Lato', sans-serif;
}

//----------- Dynamic Master Template ------------
.master-content {
	width: calc(100% - 70px);
	height: calc(100% - 60px);
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px;
	background-color: $background;
	overflow-y: scroll;
	z-index: 1;
}

//------------------- Main Menu ------------------
.main-menu {
	width: 70px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $primary-bg;
	z-index: 100;

	a {
		position: absolute;
		padding: 10px 10px 5px 10px;
		margin: 10px;
		border-radius: 5px;
		cursor: pointer;

		svg {
			width: 30px;
		}

		&:hover {
			background-color: $primary-dark-bg;
			span {
				display: inline-block;
			}
		}

		&:nth-child(2){
			top: 55px;
		}

		&:nth-child(3){
			bottom: 55px;
		}

		&:last-child {
			bottom: 0;
		}

		span {
			width: 100px;
			height: 35px;
			position: absolute;
			top: 8px;
			left: 70px;
			padding: 7px 0;
			display: none;
			background: $menu-popup-bg;
			font-size: 11pt;
			text-align: center;
			color: $white;
			border-radius: 5px;

			i {
				width: 15px;
				height: 15px;
				position: absolute;
				left: -5px;
				top: 10px;
				border-radius: 3px;
				background: $menu-popup-bg;
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
			}
		}
	}

}

.menu-svg {
	fill: $primary-light-bg;
}

.menu-svg-selected {
	background-color: $primary-dark-bg;

	.menu-svg {
		fill: $white;
	}
}

//---------------- Main User Menu ----------------
.main-user {
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	padding-left: 70px;
	background-color: $white;
	z-index: 2;
	border-bottom: 1px solid $border;

	.user-route {
		margin-top: 15px;
		margin-bottom: 11px;
		padding: 5px;
		border-radius: 4px;
		font-size: 11pt;
		color: $text;
		display: inline-block;
		cursor: pointer;
		text-decoration: none;

		&:first-child {
			margin-left: 20px;
		}

		&:hover {
			color: $text-dark;
		}
	}

	.last-user-route {
		color: $blue;

		&:hover {
			color: $blue-dark;
		}
	}

	.breadcrumb-arrow {
		width: 8px;
		fill: $border;
	}
}

.create-btn {
	position: absolute;
	background-color: $blue;
	color: $white;
	position: absolute;
	top: 13px;
	right: 130px;
	padding: 6px 15px;

	&:hover {
		color: $white;
		background-color: $blue-dark;
	}
}

.notification-svg {
	width: 30px;
	height: 30px;
	fill: $icon;
	position: absolute;
	right: 75px;
	top: 15px;
	padding: 5px;
	cursor: pointer;
}

.avatar-box {
	width: 80px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;

	.avatar {
		width: 35px;
		height: 35px;
		display: inline-block;
		float: right;
		margin: 12px 20px;
		border-radius: 50%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
}

.user-dropdown {
	width: 200px;
	position: absolute;
	right: 7.5px;
	top: 65px;
	background-color: $white;
	@include border-radius($default-border-radius);
	@include box-shadow($popup-box-shadow);
	padding-left: 0;
	z-index: 2;

	.tail-user {
		width: 20px;
		height: 20px;
		background-color: $white;
		position: absolute;
		right: 20px;
		top: -10px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		border-top-left-radius: 5px;
		@include box-shadow(-1px -1px 2px rgba(0,0,0,.1));
	}

	ul {
		padding-left: 0;
		margin: 0;
		overflow: hidden;

		li {
			cursor: pointer;
			padding: 11px 15px;
			cursor: pointer;
			z-index: 3;

			svg {
				width: 18px;
				height: 18px;
				fill: $icon;
				float: left;
				margin-top: 1px;
			}

			span {
				color: $text;
				font-size: 11pt;
				float: left;
				padding-left: 10px;
			}

			&:first-child {
				border-bottom: 1px solid $border;
			}

			&:hover span {
				color: $text-dark;
			}

		}
	}

}

.new-notification-badge {
	width: 14px;
	height: 14px;
	background-color: $danger;
	border: 2px solid $white;
	position: absolute;
	right: 77px;
	top: 14px;
	cursor: pointer;
	z-index: 2;
	@include border-radius($circle-border-radius);
}

.notification-box {
	width: 350px;
	height: 400px;
	position: absolute;
	right: 59px;
	top: 65px;
	background-color: $white;
	border: 1px solid $border;
	@include border-radius($default-border-radius);
	@include box-shadow($popup-box-shadow);

	.tail-notification {
		width: 20px;
		height: 20px;
		background-color: $white;
		position: absolute;
		right: 20px;
		top: -10px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		border-top-left-radius: 5px;
		@include box-shadow(-1px -1px 2px rgba(0,0,0,.1));
	}

	h3 {
		font-size: 13pt;
		padding: 10px 0 15px 0;
		margin: 5px 20px 5px 20px;
		color: $text-dark;
		cursor: default;
		border-bottom: 1px solid $border;
	}

	ul {
		height: 330px;
		list-style: none;
		margin: 0 5px 0 20px;
		padding: 0;
		padding-right: 15px;
		cursor: default;
		overflow-y: scroll;

		li {
			border-bottom: 1px solid $border;
			cursor: pointer;
		}

		.notification-header {
			float: left;

			.notification-avatar {
				width: 35px;
				height: 35px;
				display: inline-block;
				float: left;
				margin: 12px 0;
				border-radius: 50%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}

			.notification-badge {
				width: 20px;
				height: 20px;
				margin-top: 10px;
				margin-left: -12px;
				border: 2px solid $white;
				display: inline-block;
				@include border-radius($circle-border-radius);
				line-height: 13px;

				i {
					font-size: 7pt;
					width: 100%;
					text-align: center;
				}
			}
		}

		.notification-content {
			width: calc(100% - 45px);
			display: inline-block;
			float: right;
			padding-left: 10px;

			h4 {
				font-size: 11pt;
				color: $text;
				margin-bottom: 10px;

				.notification-sender {
					color: $text-dark;
					font-weight: 600;
				}

				.notification-secondary {
					color: $blue;
				}
			}

			span {
				font-size: 11pt;
				color: $black;
			}

			p {
				padding-top: 10px;
				padding-bottom: 10px;
				margin-bottom: 0;
				color: $text;
			}

			.notification-revert {
				color: $blue;
				font-weight: bold;
			}
		}

	}

}

.mobile-menu {
	width: 30px;
	height: 100%;
	display: inline;
	padding-right: 20px;

	svg {
		width: 22px;
		height: 25px;
		fill: $primary-light-bg;
		position: absolute;
		left: 17.5px;
		top: 17.5px;
	}
}
//------------------------------------------------
// Portrait tablets and small desktops
@media (min-width: 768px) and (max-width: 991px) {

}

// Landscape phones and portrait tablets
@media (max-width: 767px) {
	.master-content {
		width: 100%;

		.allprojects-container {
			width: 100%;
			margin: 0;
		}

		.project-box {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}

	.create-btn {
		right: 75px;
	}

	.main-user {
		background-color: $primary-bg;

		.avatar {
			border: 2px solid $primary-light-bg;
		}
	}

}