@import '_variables.scss';

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	outline: none;
	font-family: 'Lato', sans-serif;
}

//----------- Dynamic Master Template ------------
.master-content {
	width: calc(100% - 70px);
	height: calc(100% - 60px);
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px;
	background-color: $background;
	overflow-y: scroll;
	z-index: 1;
}

//------------------- Main Menu ------------------
.main-menu {
	width: 70px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $primary-bg;
	z-index: 100;

	a {
		position: absolute;
		padding: 10px 10px 5px 10px;
		margin: 10px;
		border-radius: 5px;
		cursor: pointer;

		svg {
			width: 30px;
		}

		&:hover {
			background-color: $primary-dark-bg;
			span {
				display: inline-block;
			}
		}

		&:nth-child(2){
			top: 55px;
		}

		&:nth-child(3){
			bottom: 55px;
		}

		&:last-child {
			bottom: 0;
		}

		span {
			width: 100px;
			height: 35px;
			position: absolute;
			top: 8px;
			left: 70px;
			padding: 7px 0;
			display: none;
			background: $popup-bg;
			font-size: 11pt;
			text-align: center;
			color: $white;
			border-radius: 5px;

			i {
				width: 15px;
				height: 15px;
				position: absolute;
				left: -5px;
				top: 10px;
				border-radius: 3px;
				background: $popup-bg;
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
			}
		}
	}

}

.menu-svg {
	fill: $primary-light-bg;
}

.menu-svg-selected {
	background-color: $primary-dark-bg;

	.menu-svg {
		fill: $white;
	}
}

//---------------- Main User Menu ----------------
.main-user {
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	padding-left: 70px;
	background-color: $white;
	z-index: 2;
	border-bottom: 1px solid $border;

	.user-route {
		margin-top: 15px;
		margin-bottom: 11px;
		padding: 5px;
		border-radius: 4px;
		font-size: 11pt;
		color: $main-text-color;
		display: inline-block;
		cursor: pointer;
		text-decoration: none;

		&:first-child {
			margin-left: 20px;
		}

		&:hover {
			background-color: rgba($border, 0.3);
		}
	}
}

.create-btn {
	position: absolute;
	background-color: $blue;
	color: $white;
	position: absolute;
	top: 13px;
	right: 130px;
	padding: 6px 15px;

	&:hover {
		color: $white;
	}
}

.notification-svg {
	width: 20px;
	height: 20px;
	fill: $icon-color;
	position: absolute;
	right: 80px;
	top: 20px;
	cursor: pointer;
}

.avatar-box {
	width: 80px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;

	.avatar {
		width: 35px;
		height: 35px;
		display: inline-block;
		float: right;
		margin: 12px 20px;
		border-radius: 50%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.avatar-badge {
		width: 15px;
		height: 15px;
		background-color: red;
		border: 2px solid $white;
		position: absolute;
		right: 15px;
		top: 10px;
		@include border-radius($circle-border-radius);

		span {
			color: $white;
			font-size: 7pt;
			font-weight: 800;
			position: absolute;
			padding: 0 1.5px;
		}
	}
}

.user-dropdown {
	width: 300px;
	position: absolute;
	left: unset;
	right: 0;
	margin: 0;
	padding-bottom: 0;
	background-color: $primary-bg;
	color: $white;
	border: none;
	@include border-radius(0px);
	padding: 20px;

	.logout {
		cursor: pointer;

		svg {
			width: 15px;
			height: 15px;
			margin: 3px 0;
			fill: $danger;
			float: left;
		}

		span {
			float: left;
			padding-left: 5px;
			color: $primary-light-bg;

			&:hover {
				color: $white;
			}
		}
	}

	li {
		padding-bottom: 0px;
	}

	.notification-box {
		height: 300px;
		margin-top: 30px;
		border-top: 1px solid $primary-dark-bg;

		div {
			height: 40px;
			border-bottom: 1px solid $primary-dark-bg;

			h3 {
				margin: 0;
				margin-top: 5px;
				display: inline-block;
				font-size: 12pt;
			}

			span {
				display: inline;
				padding: 1px 5px;
				font-size: 10pt;
				background-color: $danger;
				@include border-radius($default-border-radius);
			}
		}

		ul {
			height: 260px;
			margin-right: -15px;
			padding-right: 15px;
			list-style: none;
			padding-left: 0;
			overflow-y: scroll;

			li {
				cursor: pointer;
				display: inline-block;
				border-bottom: 1px solid $primary-dark-bg;

				.notification-type {
					width: 25px;
					height: 25px;
					float: left;
					display: inline-block;
					margin: 10px 0;
					border-radius: $circle-border-radius;
					background-color: $primary-dark-bg;
					text-align: center;

					i {
						padding: 5px;
						color: $success;
					}
				}

				h3 {
					float: left;
					margin: 0;
					padding-left: 5px;
					display: inline-block;
					font-size: 11pt;
					line-height: 45px;
				}

				span {
					display: block;
					float: left;
					color: $primary-light-bg;
					padding-left: 30px;
					padding-bottom: 10px;
				}

			}
		}
	}

}

//------------------------------------------------