@import '_variables.scss';

//---------------- Modals ----------------
.general-modal {
	width: $modal-width;

	.modal-content {
		padding: 30px;
		@include border-radius($default-border-radius);
		box-shadow: $popup-box-shadow;
		border: none;

		.modal-header {
			padding: 0;
			border-bottom: 0;

			span {
				cursor: pointer;
				font-size: 14pt;
				display: inline;
				position: absolute;
				top: 35px;
				right: 30px;

				i {
					color: $text;

					&:hover {
						color: $text-dark;
					}
				}
			}

			p {
				padding-top: 10px;
				padding-right: 30px;
				font-weight: 300;
				color: $text;
			}

			h3 {
				margin: 0;
				padding-top: 5px;
				font-size: 15pt;
				color: $text-dark;
			}
		}

		.modal-body {
			padding: 0;
			padding-top: 20px;
		}

		.modal-footer {
			margin: -20px -15px;
			border: none;
		}

	}
}

.profile-modal {
	@extend .general-modal;
	width: $profile-modal-width;

	.primary-button {
		width: 100%;
	}

	.modal-content {
		.modal-body {
			margin-top: 20px;
			padding-top: 0px;
		}
	}
}


//------------- Create Project Modal -------------
.create-project-row {
	div {
		display: inline-block;

		&:first-child {
			width: 60%;
			float: left;
			padding-right: 10px;
		}

		&:last-child {
			width: 40%;
			float: right;
		}
	}

	.input-error-box {
		i {
			padding-right: 10px;
		}
	}
}

//-------------- Create Defect Modal -------------
.row-defect-buttons {
	padding: 5px 0;

	.time-btn {
		margin-top: 2px;
		padding: 15px 15px 13px 15px;
		@include border-radius($default-border-radius * 2);
	}

	.defect-log-time {
		margin-left: 5px;
		color: $text;
		line-height: 45px;
		cursor: default;
	}
}

.defect-create-son {
	width: 100%;
	padding-top: 0;
	margin-top: 0;
}

.defect-time {
	padding-bottom: 10px;
	padding-right: 0;
	i {
		margin-top: 0;
		margin-right: 5px;

		&:first-child {
			margin-left: 0;
		}
	}

	span {
		line-height: 35px;
	}
}

.defect-header-description {
	cursor: default;
	margin-bottom: -10px;

	a {
		text-decoration: underline;
		cursor: pointer;
		color: $blue;
	}
}

.create-defect-modal {
	.row {
		div {
			&:first-child {
				padding-right: 3px;
			}

			&:last-child {
				padding-left: 3px;
			}
		}
	}
}

//--------------- Edit Time Modal ----------------
.edit-time-label {
	display: block;
		color: $text;
		font-weight: 400;
		padding-bottom: 5px;
}

.edit-time-options {
	margin-bottom: 30px;

	div {
		width: 48%;
		height: 45px;
		line-height: 42px;
		color: $text;
		display: inline-block;
		border: 1px solid $popup-bg;
		@include border-radius($default-border-radius);
		cursor: pointer;
		text-align: center;

		i {
			display: inline-block;
			font-size: 14pt;
			text-align: center;
		}

		span {
			display: inline-block;
			font-size: 12pt;
			font-weight: 300;
		}

		&:last-child {
			float: right;
		}

		&:hover {
			span, i {
				color: $text-dark;
			}
		}
	}

	.time-selected {
		border: 1px solid $blue;
		i, span {
			color: $blue;
		}

		&:hover {
			span, i {
				color: $blue;
			}
		}
	}
}

.time-selector-box {
	div {
		width: 32.7%;
		display: inline-block;
		text-align: center;
		margin-bottom: 30px;
		position: relative;

		div {
			background-color: $background;
			@include border-radius($default-border-radius);
			padding: 0;
			width: 20px;
			float: left;
			text-align: center;

			i {
				color: $text;
				font-size: 8pt;
				cursor: pointer;
				display: block;
				height: 20px;

				&:first-child {
					padding-top: 2px;
				}

				&:last-child {
					padding-top: 8px;
				}

				&:hover {
					color: $white;
				}
			}
		}

		span {
			color: $text;
			font-size: 13pt;
			cursor: default;
		}

		input {
			width: calc(100% - 30px);
			height: 40px;
			padding: 5px 10px;
			display: inline-block;
			outline: none;
			border: 1px solid $border;
			color: $text;
			margin-bottom: 5px;
			text-align: center;
			@include border-radius($default-border-radius);
			@include placeholder-color($text, 300);
		}
	}

}

//-------------- Edit Profile Modal --------------
.profile-avatar {
	width: 100px;
	height: 100px;
	background: $text;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	background-color: $white;
	@include border-radius($circle-border-radius);

	i {
		color: $white;
		font-size: 14pt;
		opacity: 0;
	}

	&:hover {
		.centered-outer {
			background-color: rgba($black, 0.7);

			i {
				opacity: 1;
			}
		}
	}
}

.general-view-avatar {
	cursor: pointer;
}

.profile-default-image {
	margin-bottom: 130px;
}

.profile-user-information {
	text-align: center;
	cursor: default;
	padding-top: 10px;
	padding-bottom: 40px;

	h4 {
		color: $text-dark;
		margin-bottom: 15px;
		font-weight: 700;
	}

	span {
		color: $text;
		padding: 10px 35px;
		border: 1px solid $border-input;
		@include border-radius($default-border-radius);

		i {
			padding-right: 10px;
		}
	}
}

.profile-upload-box {
	div {
		height: 100%;
		margin: 0 auto;
		display: inline-block;

		svg {
			width: 25px;
			fill: $blue;
			float: left;
			padding-top: 9px;
			margin-right: 5px;
		}

		span {
			display: inline-block;
			padding-top: -10px;
			float: left;
			text-align: center;
			color: $blue;
		}
	}

	&:hover {
		svg, span {
			fill: $white;
			color: $white;
		}
	}
}

.save-profile-settings {
	margin-top: 20px;
}

.profile-slide {
	overflow: hidden;
	position: relative;

	.profile-active {
		position: relative;
		left: 0;
		-webkit-transition: 0.35s ease-in-out;
		-moz-transition: 0.35s ease-in-out;
		-o-transition: 0.35s ease-in-out;
	}

	.profile-hidden {
		left: 100%;
		top: 0;
		width: 100%;
		position: absolute;
		-webkit-transition: 0.35s ease-in-out;
		-moz-transition: 0.35s ease-in-out;
		-o-transition: 0.35s ease-in-out;
	}

	&.activate {
		.profile-active {
			left: -100%;
		}

		.profile-hidden {
			left: 0;
		}
	}
}







//------------------------------------------------

// Portrait tablets and small desktops
@media (min-width: 768px) and (max-width: 991px) {

}

// Landscape phones and portrait tablets
@media (max-width: 767px) {
	.modal-dialog {
		width: calc(100% - 20px);

	}
}

//------------------------------------------------
