@import '_variables.scss';

//---------------- Modals ----------------
.general-modal {
	width: $modal-width;

	.modal-content {
		padding: 30px;
		@include border-radius($default-border-radius);
		box-shadow: $popup-box-shadow;
		border: none;

		.modal-header {
			padding: 0;
			border-bottom: 0;

			span {
				cursor: pointer;
				font-size: 14pt;
				display: inline;
				position: absolute;
				top: 35px;
				right: 30px;

				i {
					color: $text;

					&:hover {
						color: $text-dark;
					}
				}
			}

			p {
				padding-top: 10px;
				padding-right: 30px;
				font-weight: 300;
				color: $text;
			}

			h3 {
				margin: 0;
				padding-top: 5px;
				font-size: 15pt;
				color: $text-dark;
			}
		}

		.modal-body {
			padding: 0;
			padding-top: 20px;
		}

		.modal-footer {
			margin: -20px -15px;
			border: none;
		}

	}
}

.profile-modal {
	@extend .general-modal;
	width: $profile-modal-width;

	.primary-button {
		width: 100%;
	}

	.modal-content {
		.modal-body {
			margin-top: 20px;
			padding-top: 0px;
		}
	}
}


//------------- Create Project Modal -------------
.create-project-row {
	@include clearfix();

	div {
		display: inline-block;

		&:first-child {
			width: 60%;
			float: left;
			padding-right: 10px;
		}

		&:last-child {
			width: 40%;
			float: right;
		}
	}

	.input-error-box {
		i {
			padding-right: 10px;
		}
	}
}

.create-project-color-row {
	margin-bottom: 10px;
	height: 40px;
	line-height: 40px;

	span {
		color: $text;
		float: left;
		font-weight: 300;
		padding-right: 10px;
	}

	.color-option {
		width: 28px;
		height: 28px;
		float: left;
		margin-top: 6px;
		margin-right: 5px;
		@include border-radius($circle-border-radius);
		display: inline-block;
		border: 1px solid $white;
		cursor: pointer;
		position: relative;

		&.selected {
			border: 2px solid $text;

			svg {
				left: 7px;
				top: 6.5px;
			}
		}

		div {
			width: 100%;
			height: 100%;
			@include border-radius($circle-border-radius);
		}

		svg {
			width: 10px;
			left: 8px;
			top: 7.5px;
			position: absolute;
			fill: rgba($white, 0.8);
		}
	}
}

//-------------- Create Defect Modal -------------
.row-defect-buttons {
	padding: 5px 0;

	.time-btn {
		margin-top: 2px;
		padding: 15px 15px 13px 15px;
		@include border-radius($default-border-radius * 2);
	}

	.defect-log-time {
		margin-left: 5px;
		color: $text;
		line-height: 10px;
		cursor: default;
	}

	.defect-create-son {
		padding-left: 0;
		padding-right: 0;
	}
}

.defect-create-son {
	width: 100%;
	padding-top: 0;
	margin-top: 0;
}

.defect-time {
	padding-bottom: 10px;
	padding-right: 0;
	i {
		margin-top: 0;
		margin-right: 5px;

		&:first-child {
			margin-left: 0;
		}
	}

	span {
		line-height: 35px;
	}
}

.defect-header-description {
	cursor: default;
	background-color: #FED36E;
	@include border-radius($default-border-radius);
	padding: 15px;
	text-align: left;
	color: #B27F1B!important;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: -10px;
}

.create-defect-modal {
	.row {
		div {
			&:first-child {
				padding-right: 2px;
			}

			&:nth-child(2) {
				padding-left: 7px;
				padding-right: 12px;
			}
		}

		input[type="number"] {
			padding-right: 15px;
		}
	}
}

.defect-type-dropdown {
	li {
		position: relative;
		width: 100%;
		cursor: pointer;

		&:hover span {
			display: inline;
		}
		span {
			width: 214px;
			background: $menu-popup-bg;
			position: absolute;
			top: -3px;
			right: -224px;
			padding: 7px 7px 7px 12px;
			font-size: 10pt;
			color: $white;
			border-radius: 5px;
			display: none;

			i {
				width: 15px;
				height: 15px;
				position: absolute;
				left: -5px;
				top: 10px;
				border-radius: 3px;
				background: $menu-popup-bg;
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
			}
		}
	}
}

//--------------- Edit Time Modal ----------------
.edit-time-label {
	display: block;
		color: $text;
		font-weight: 400;
		padding-bottom: 5px;
}

.edit-time-options {
	display: block;
	div {
		display: inline-block;
		width: 49%;
		cursor: pointer;

		span {
			width: 28px;
			height: 28px;
			@include border-radius($circle-border-radius);
			border: 2px solid $text;
			display: inline-block;
			float: left;
			text-align: center;
			padding: 2px;

			i {
				color: $white;
			}
		}

		p {
			display: inline-block;
			color: $text;
			float: left;
			line-height: 32px;
			padding-left: 10px;
		}

	}

	.time-selected {
		span{
			background-color: $success;
			border: 2px solid $success;
		}
	}

	.time-disabled {
		cursor: default;
		span {
			border: 2px solid $disabled-button;
		}

		p {
			color: $disabled-button;
		}
	}
}

.time-footer-description {
	cursor: default;
	margin-bottom: -10px;
	background-color: #FED36E;
	@include border-radius($default-border-radius);
	padding: 15px;
	text-align: left;
	color: #B27F1B;
	font-weight: 300;
	margin-bottom: 20px;

	span {
		display: block;
	}
}

.time-selector-box {
	div {
		width: 32.7%;
		display: inline-block;
		text-align: center;
		margin-bottom: 30px;
		position: relative;

		div {
			background-color: $background;
			@include border-radius($default-border-radius);
			padding: 0;
			width: 20px;
			float: left;
			text-align: center;

			i {
				color: $text;
				font-size: 8pt;
				cursor: pointer;
				display: block;
				height: 20px;

				&:first-child {
					padding-top: 2px;
				}

				&:last-child {
					padding-top: 8px;
				}

				&:hover {
					color: $white;
				}
			}
		}

		span {
			color: $text;
			font-size: 13pt;
			cursor: default;
		}

		input {
			width: calc(100% - 30px);
			height: 40px;
			padding: 5px 10px;
			display: inline-block;
			outline: none;
			border: 1px solid $border;
			color: $text;
			margin-bottom: 5px;
			text-align: center;
			@include border-radius($default-border-radius);
			@include placeholder-color($text, 300);
		}
	}

}

//-------------- Edit Profile Modal --------------
.profile-avatar {
	width: 100px;
	height: 100px;
	background: $text;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	background-color: $white;
	@include border-radius($circle-border-radius);

	i {
		color: $white;
		font-size: 14pt;
		opacity: 0;
	}

	&:hover {
		.centered-outer {
			background-color: rgba($black, 0.7);

			i {
				opacity: 1;
			}
		}
	}
}

.general-view-avatar {
	cursor: pointer;
}

.profile-default-image {
	margin-bottom: 130px;
}

.profile-user-information {
	text-align: center;
	cursor: default;
	padding-top: 10px;
	padding-bottom: 40px;

	h4 {
		color: $text-dark;
		margin-bottom: 15px;
		font-weight: 700;
	}

	span {
		color: $text;
		padding: 10px 35px;
		border: 1px solid $border-input;
		@include border-radius($default-border-radius);

		i {
			padding-right: 10px;
		}
	}
}

.profile-upload-box {
	div {
		height: 100%;
		margin: 0 auto;
		display: inline-block;

		svg {
			width: 25px;
			fill: $blue;
			float: left;
			padding-top: 9px;
			margin-right: 5px;
		}

		span {
			display: inline-block;
			padding-top: -10px;
			float: left;
			text-align: center;
			color: $blue;
		}
	}

	&:hover {
		svg, span {
			fill: $white;
			color: $white;
		}
	}
}

.save-profile-settings {
	margin-top: 20px;
}

.profile-slide {
	overflow: hidden;
	position: relative;

	.profile-active {
		position: relative;
		left: 0;
		-webkit-transition: 0.35s ease-in-out;
		-moz-transition: 0.35s ease-in-out;
		-o-transition: 0.35s ease-in-out;
	}

	.profile-hidden {
		left: 100%;
		top: 0;
		width: 100%;
		position: absolute;
		-webkit-transition: 0.35s ease-in-out;
		-moz-transition: 0.35s ease-in-out;
		-o-transition: 0.35s ease-in-out;
	}

	&.activate {
		.profile-active {
			left: -100%;
		}

		.profile-hidden {
			left: 0;
		}
	}
}




.pip-row {
	span {
		float: left;
	}
}


//------------------------------------------------

// Portrait tablets and small desktops
@media (min-width: 768px) and (max-width: 991px) {

}

// Landscape phones and portrait tablets
@media (max-width: 767px) {
	.modal-dialog {
		width: calc(100% - 20px);

	}
}

//------------------------------------------------
