@import '_variables.scss';

//--------------- Overview Charts ----------------
.overview-content {
	background-color: $white;
	padding: 20px;
	cursor: default;

	h3 {
		font-size: 13pt;
		margin-top: 5px;
		padding-bottom: 20px;
		color: $text-dark;
		border-bottom: 1px solid $border;
	}
}

.overview-charts-container {
	display: block;
	margin: 15px;
	width: calc(100% - 30px);
	@include clearfix();
}

#overview-chart {
	width: calc(50% - 30px);
	// height: 300px;
	float: left;
	// background-color: red;
	margin-left: 10px;
	margin-right: 15px;
	margin-bottom: 15px;
	position: relative;

	&:nth-child(2n) {
		// background-color: blue;
		margin-left: 15px;
		margin-right: 0;
	}

	span {
		display: block;
		margin-left: 10px;
		margin-bottom: 15px;
		font-size: 14px;
		color: #566C78;
	}

	.overview-chart-label {
		line-height: 20px;
		cursor: default;
		height: 20px;
		color: #566C78;
		display: inline-block;

		span {
			float: left;
			margin-left: 0;
		}

		i {
			line-height: inherit;
			float: left;

			&.space {
				margin-left: 15px;
			}
		}
	}
}

.chart-label {
	text-align: center;
	display: block;
}

.overview-chart-box {
	width: 49%;
	height: 300px;
	display: inline-block;
	// margin-top: 10px;
	// margin-bottom: 20px;
	// border: 1px solid $border;

	&:nth-child(2n+1) {
		float: right;
	}

	span {
		display: block;
		width: calc(100% - 40px);
		float: left;
		margin: 20px;
		padding-bottom: 10px;
		font-size: 12pt;
		color: $text-dark;
		border-bottom: 1px solid $border;
	}
}

//------------------------------------------------

@media (max-width: 767px) {
	#overview-chart {
		width: calc(100% - 10px);
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 50px;

		&:nth-child(2n) {
			margin-left: 0;
		}
	}

	.overview-chart-label {
		span {
			margin-bottom: 0!important;
		}
	}
}