@import '_variables.scss';

//--------------- All Projects View --------------
.allprojects-container {
	width: 100%;
	margin: 0 auto;
}

//------------------ Project Box -----------------
.project-box {
	height: 160px;
	width: 23%;
	min-width: 265px;
	max-width: 340px;
	position: relative;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	background-color: $white;
	border-left: 5px solid $pj-color-1;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	z-index: 1;

	a {
		text-decoration: none;
	}

	.project-delete-confirm {
		display: none;
	}

	.project-content {
		width: 100%;
		height: 100%;

		.fa-circle {
			position: absolute;
			top: 13px;
			right: 12px;
		}

		h3 {
			font-size: 13pt;
			margin-top: 10px;
			margin-bottom: 0;
			padding-right: 17px;
			color: $pj-color-1;
			display: block;
		}

		span {
			display: block;
			font-size: 10pt;
			padding-top: 10px;
			color: $pj-text;
		}
	}

	&:hover {
		@include box-shadow($default-box-shadow);

		.project-delete {
			opacity: 1;
		}
	}
}

.prj-success {
	color: $success;
}

.prj-danger {
	color: $danger;
}

.project-delete,
.iteration-delete,
.defect-delete {
	width: 40px;
	height: 40px;
	position: absolute;
	top: -10px;
	right: -10px;
	opacity: 0;
	background-color: $white;
	@include box-shadow($default-box-shadow);
	@include border-radius($circle-border-radius);
	text-align: center;
	z-index: 3;


	.fa-times {
		padding: 10px 11px;
		font-size: 15pt;
		color: $danger;
	}

	.fa-arrow-left {
		padding: 10px 11px;
		font-size: 15pt;
		color: rgba($black, 0.7);
	}
}

//-------------- Project Iteration Box ------------
.project-for-iteration-box {
	@extend .project-box;
}

.iteration-box {
	@extend .project-box;
	background-color: $iteration-bg;

	span {
		color: $white!important;
	}

	&:hover {
		.iteration-delete {
			opacity: 1;
		}
	}

	.iteration-delete-confirm {
		display: none;
	}
}

//---- Project, Iteration and Defect Hover Box ----
.project-box-hover,
.iteration-box-hover,
.defect-box-hover {
	.project-delete-confirm,
	.iteration-delete-confirm,
	.defect-delete-confirm {
		width: calc(100% + 5px);
		height: 100%;
		display: inline!important;
		position: absolute;
		left: -5px;
		background-color: rgba($black, 0.7);
		border-top-right-radius: $default-border-radius;
		border-bottom-right-radius: $default-border-radius;
		z-index: 2;
		color: $white;

		p {
			font-size: 12pt;
			text-align: center;
			width: 100%;
			padding-top: 30px;
		}

		.btn {
			background-color: $danger;
			position: absolute;
			left: calc(50% - 70px);
			bottom: 45px;
			padding: 10px 15px;

			&:hover {
				color: $white;
				background-color: $danger-hover;
			}
		}
	}

	.project-delete,
	.iteration-delete,
	.defect-delete {
		opacity: 1;
	}
}

//-------------- General Project View ------------
.project-view-content {
	width: calc(100% - 280px);
	height: calc(100% + 20px);
	display: inline;
	margin-top: -20px;
	margin-right: -20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	float: right;
	overflow-y: scroll;
}

.project-view-menu {
	width: 300px;
	height: 100%;
	border-right: 1px solid $border;
	list-style: none;
	float: left;
	padding: 0;
	display: inline;
	margin-top: -20px;
	padding-top: 20px;
	padding-right: 20px!important;

	li {
		width: 100%;
		height: 60px;
		cursor: pointer;
		padding-top: 5px;
		@include border-radius($default-border-radius);

		&:hover {
			background-color: $border;
		}

		svg {
			width: 25px;
			margin: 10px;
			float: left;
			fill: $project-title-light;
		}

		h3 {
			margin: 0;
			padding-top: 6px;
			float: left;
			font-size: 12pt;
		}

		span {
			float: left;
			font-size: 10pt;
			color: $project-title-light;
		}
	}

	.project-menu-selected {
		background-color: $blue;
		color: $white;

		svg {
			fill: $white;
		}

		span {
			color: $border;
		}

		&:hover {
			background-color: $blue;
		}
	}

}

//----------------- All Defects View --------------
.defect-box {
	height: 160px;
	width: 23%;
	min-width: 265px;
	max-width: 340px;
	position: relative;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	background-color: $white;
	border-left: 5px solid $pj-color-1;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	z-index: 1;

	.defect-content {
		width: 100%;
		height: 100%;
		float: left;

		h3 {
			margin: 0;
			display: block;
			font-size: 13pt;
			padding-top: 10px;
			padding-bottom: 5px;
			font-weight: 700;
			color: $main-title-color;
		}

		span {
			width: 100%;
		}

		.defect-content-stage {
			padding-top: 10px;
			position: absolute;
			bottom: 37px;
		}

		svg {
			width: 17px;
			height: 17px;
			position: absolute;
			bottom: 10px;
			left: 10px;
			fill: $main-text-color;
		}

		.defect-time-text {
			position: absolute;
			bottom: 8px;
			left: 35px;
			padding-top: 5px;
		}

		p {
			font-weight: 700;
			margin: 0;

			span {
				font-weight: 300;
			}
		}

	}

	a {
		text-decoration: none;
	}

	&:hover {
		@include box-shadow($default-box-shadow);

		.defect-delete {
			opacity: 1;
		}
	}

	.defect-delete-confirm {
		display: none;
	}

}

//------------------- Time View ------------------
.time-table {
	background-color: $white;
	border: 1px solid $border;

	tbody > tr {

		& > td {
			padding: 17px 20px;
			border: none;
			border-bottom: 1px solid $border;

			&:last-child {
				width: 110px;
			}
		}

		&:last-child {
			border-bottom: none;
		}
	}
}

.time-stages-dropdown {
	width: 200px;
	height: 100%;
	float: left;

	button {
		width: 100%;
		height: 35px;
		display: inline;
		padding: 6.5px;
		margin-top: 7px;
		margin-bottom: 10px;
		outline: none;
		background-color: $white;
		@include border-radius($default-border-radius);
		border: 2px solid $input-bg;
		color: $input-text;
		text-align: left;

		i {
			position: absolute;
			top: 11px;
			right: 4px;
			padding: 7.5px 6px;
			font-size: 9pt;
			background-color: $input-button;
			color: $white;
			@include border-radius($default-border-radius);
		}

		&:focus {
			@include transition($default-transition);
			background-color: $white;
			color: $main-text-color;
		}

	}
}

.time-submit {
	span {
		left: 30px!important;
	}
}

.time-btn {
	float: left;
	margin-top: 9px;
	margin-right: 10px;
	padding: 11px 12px 9px 12px;
	@include border-radius($default-border-radius);
	font-size: 8pt;
	border: 1px solid $border;
	cursor: pointer;
	color: $main-text-color;

	&:first-child {
		margin-right: 5px;
	}
}

.time-btn-play {
	background-color: $success;
	color: $white;
	border: 1px solid $success;
}

.time-status-pause {
	background-color: $main-text-color;
	color: $white;
	border: 1px solid $main-text-color;
}

.time-completed {
	border: 2px solid $main-text-color;
	color: $main-text-color;
	padding: 8px;
	@include border-radius(20px);
}

//---------- General Project Information ---------
.prj-information-box {
	width: 100%;
	height: 200px;
	position: relative;
	background-color: $white;
	border-left: 5px solid $pj-color-1;
	border-top-right-radius: $default-border-radius;
	border-bottom-right-radius: $default-border-radius;
	word-wrap: break-word;

	svg {
		width: 20px;
		height: 20px;
		fill: $main-text-color;
		float: right;
		margin-right: 115px;
		margin-top: 25px;
		cursor: pointer;
	}

	.prj-info-title {
		margin: 0;
		margin-bottom: 3px;
		padding: 2px 0 2px 10px;
		margin: 0 155px 0 20px;
		font-weight: 700;
		font-size: 18pt;
		color: $main-title-color;


		&:focus {
			outline: 2px solid $blue;
		}
	}

	.prj-info-text {
		margin: 0 20px;
		margin-bottom: 3px;
		color: $input-empty-text;
		cursor: default;
		display: inline-block;
		padding-top: 10px;

	}

	.prj-info-description {
		margin: 0 20px;
		font-size: 12pt;
		padding-left: 10px;
		color: $main-title-color;

		&:focus {
			outline: 2px solid $blue;
		}
	}
}

.project-active {
	position: absolute;
	display: inline;
	right: 15px;
	top: 15px;
	padding: 10px 15px;
	border: 1px solid $border;
	@include border-radius($default-border-radius);
	cursor: pointer;
	color: $success;
}

.project-completed {
	@extend .project-active;
	color: $danger;
	border: 0;
	cursor: default;
}

.prj-general-chart-box {
	width: calc(50% - 10px);
	height: 230px ;
	position: relative;
	margin-top: 20px;
	background-color: $white;
	display: inline-block;
	float: left;
	border-left: 5px solid $pj-color-1;
	border-top-right-radius: $default-border-radius;
	border-bottom-right-radius: $default-border-radius;
	text-align: center;
	padding-top: 10px;

	span {
		color: $input-empty-text;
		display: block;
		padding-bottom: 10px;
		padding-left: 20px;
		text-align: left;
		cursor: default;
	}

}

// This is the box that has the total time and
// creation date of a project
.prj-review-box {
	width: calc(50% - 10px);
	height: 230px ;
	float: right;
	position: relative;
	margin-top: 20px;
	background-color: $white;
	display: inline-block;
	border-left: 5px solid $pj-color-1;
	border-top-right-radius: $default-border-radius;
	border-bottom-right-radius: $default-border-radius;

	div {
		width: 100%;
		height: 50%;
		float: right;
		position: relative;

		&:first-child {
			border-bottom: 1px solid $border;
			float: left;
		}

		svg {
			width: 30px;
			height: 30px;
			margin: 42px 20px 42px 30px;
			float: left;
		}

		span {
			display: inline-block;
			padding-top: 35px;
			font-weight: 700;
			font-size: 13pt;
		}

		p {
			font-size: 11pt;
		}
	}
}

//----------- Project Plan Summary View ----------
.plan_summary-box {
	background-color: $white;
	border: 1px solid $border;
	@include border-radius($default-border-radius);

	h3 {
		font-size: 13pt;
		padding-left: 20px;
		padding-bottom: 10px;
	}

	.table-summary {
		border: 0;
		width: 100%;
		table-layout: fixed;
		thead {
			border-bottom: 1px solid $border;
			border-top: 1px solid $border;
			color: $table-title-color;

			& > tr > th {
				border: 0;
				font-weight: 300;
				text-align: center;
				padding-top: 10px;
				padding-bottom: 10px;

			}
		}

		tbody > tr > td {
			vertical-align: middle;
			padding-top: 15px;
			padding-bottom: 15px;
			text-align: center;
			cursor: default;
		}

	}
}
//----------- No Data Notification Box -----------
.empty-data-box {
	width: 100%;
	background-color: $white;
	border: 2px dashed $border;
	text-align: center;

	h3 {
		display: block;
		margin: 0;
		padding-bottom: 5px;
		padding-top: 40px;
		font-size: 13pt;
		color: $main-title-color;
	}

	span {
		display: block;
		color: $main-text-color;
		padding-bottom: 40px;
	}
}

//------------------------------------------------