@import '_variables.scss';

//--------------- All Projects View --------------
.allprojects-container {
	width: calc(100% + 40px);
	margin-left: -20px;
	margin-right: -20px;
}

.allprojects-data {
	max-width: 1300px;
	margin: 0 auto;
}

@media (min-width: 1820px) {
	.allprojects-data {
		max-width: 1710px;
	}
}

@media (min-width: 1535px) and (max-width: 1819px){
	.allprojects-data {
		max-width: 1425px;
	}
}

@media (min-width: 1250px) and (max-width: 1534px){
	.allprojects-data {
		max-width: 1141px;
	}
}

@media (min-width: 965px) and (max-width: 1249px) {
	.allprojects-data {
		max-width: 855px;
	}
}

@media (min-width: 680px) and (max-width: 964px) {
	.allprojects-data {
		max-width: 572px;
	}
}

@media (max-width: 679px) {
	.allprojects-data {
		max-width: 305px;
	}
}
//------------------ Project Box -----------------
.project-box {
	height: 160px;
	width: 265px;
	position: relative;
	display: inline-block;
	margin: 0 10px 20px 10px;
	padding: 0 10px;
	float: left;
	background-color: $white;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	cursor: pointer;
	z-index: 1;

	a {
		text-decoration: none;
	}

	.project-delete-confirm {
		display: none;
	}

	.project-content {
		width: 100%;
		height: 100%;

		.fa-circle {
			position: absolute;
			top: 13px;
			right: 12px;
		}

		h3 {
			font-size: 13pt;
			margin-top: 10px;
			margin-bottom: 0;
			padding-right: 17px;
			color: $primary-bg;
			font-weight: bold;
			display: block;
		}

		span {
			display: block;
			font-size: 11pt;
			padding-top: 10px;
			color: $text;
		}
	}

	&:hover {
		@include box-shadow($default-box-shadow);

		.project-delete {
			opacity: 1;
		}
	}
}

.prj-success {
	color: $success;
}

.prj-completed {
	color: $text;
}

.project-delete,
.iteration-delete,
.defect-delete {
	width: 40px;
	height: 40px;
	position: absolute;
	top: -10px;
	right: -10px;
	opacity: 0;
	background-color: $white;
	@include box-shadow($default-box-shadow);
	@include border-radius($circle-border-radius);
	text-align: center;
	z-index: 3;

	.fa-times {
		padding: 10px 11px;
		font-size: 15pt;
		color: $danger;
	}

	.fa-arrow-left {
		padding: 10px 11px;
		font-size: 15pt;
		color: rgba($black, 0.7);
	}
}

//-------------- Project Iteration Box ------------
.project-for-iteration-box {
	@extend .project-box;
}

.iteration-box {
	@extend .project-box;
	background-color: $popup-bg;

	span {
		color: $white!important;
	}

	&:hover {
		.iteration-delete {
			opacity: 1;
		}
	}

	.iteration-delete-confirm {
		display: none;
	}
}

//---- Project, Iteration and Defect Hover Box ----
.project-box-hover,
.iteration-box-hover,
.defect-box-hover {
	.project-delete-confirm,
	.iteration-delete-confirm,
	.defect-delete-confirm {
		width: calc(100% + 5px);
		height: 100%;
		display: inline!important;
		position: absolute;
		left: -5px;
		background-color: rgba($black, 0.6);
		border-top-right-radius: $default-border-radius;
		border-bottom-right-radius: $default-border-radius;
		z-index: 2;
		color: $white;

		p {
			font-size: 12pt;
			text-align: center;
			width: 100%;
			padding-top: 30px;
		}

		.btn {
			background-color: $status-danger;
			position: absolute;
			left: calc(50% - 70px);
			bottom: 45px;
			padding: 10px 15px;

			&:hover {
				color: $white;
				background-color: $status-dark-danger;
			}
		}
	}

	.project-delete,
	.iteration-delete,
	.defect-delete {
		opacity: 1;
	}
}

//-------------- General Project View ------------
.project-view-menu {
	width: 100px;
	height: calc(100% + 40px);
	float: left;
	background-color: $white;
	margin-left: -20px;
	margin-top: -20px;
	margin-bottom: -20px;
	padding-left: 0;
	list-style: none;

	a {
		text-align: center;
		text-decoration: none;

		li {
			margin: 0 15px;
			padding: 15px 0;
			border-bottom: 1px solid $border;

			svg {
				width: 25px;
				fill: $text;
			}

			h3 {
				font-size: 11pt;
				margin: 0;
				color: $text;
			}

			&:hover {
				h3 {
					color: $black;
				}

				svg {
					fill: $black;
				}
			}
		}
	}

	.project-menu-selected {
		h3 {
			color: $black;
		}

		svg {
			fill: $black;
		}
	}
}

//----------------- All Defects View --------------
.defect-box {
	height: 160px;
	width: 255px;
	float: left;
	position: relative;
	display: inline-block;
	margin: 0 10px 20px 10px;
	padding: 0 10px;
	background-color: $white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	z-index: 1;

	.defect-content {
		width: 100%;
		height: 100%;
		float: left;

		h3 {
			margin: 0;
			display: block;
			font-size: 13pt;
			padding-top: 10px;
			padding-bottom: 5px;
			font-weight: 700;
			color: $black;
		}

		span {
			width: 100%;
		}

		.defect-content-stage {
			padding-top: 10px;
			position: absolute;
			bottom: 37px;
		}

		svg {
			width: 17px;
			height: 17px;
			position: absolute;
			bottom: 10px;
			left: 10px;
			fill: $icon;
		}

		.defect-time-text {
			position: absolute;
			bottom: 8px;
			left: 35px;
			padding-top: 5px;
		}

		p {
			font-weight: 700;
			margin: 0;

			span {
				font-weight: 300;
			}
		}

	}

	a {
		text-decoration: none;
	}

	&:hover {
		@include box-shadow($default-box-shadow);

		.defect-delete {
			opacity: 1;
		}
	}

	.defect-delete-confirm {
		display: none;
	}

}

//------------------- Time View ------------------
.time-content {
	background-color: $white;
	padding: 20px;

	.time-menu {
		width: 100%;
		margin-bottom: 10px;
		padding-bottom: 15px;
		border-bottom: 1px solid $border;

		div {
			float: left;
		}
	}

	.time-submit {
		position: relative;
		float: left;
		background-color: $blue;
		color: $white;
		padding: 6px 15px;
		margin-left: 10px;

		span {
			left: 30px;
		}
	}

	.time-table {
		background-color: $white;

		thead {
			& > tr > th{
				padding-bottom: 15px;
				text-align: center;
				border-bottom: 0px;
				color: $text;
				font-weight: 300;
				cursor: default;
			}
		}

		tbody > tr {
			background-color: $background;
			cursor: default;

			& > td {
				padding: 20px 20px;
				border: none;
				border-bottom: 6px solid $white;
				color: $text;

				&:nth-child(2) {
					text-align: center;
				}

				&:nth-child(3) {
					text-align: center;
					padding-top: 18px;
					padding-bottom: 14px;
					margin: 0;
				}

				&:last-child {
					text-align: center;
					width: 110px;
				}
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}

}

.time-btn {
	float: left;
	//margin-top: 9px;
	margin-right: 10px;
	padding: 12px 12px 10px 12px;
	@include border-radius($default-border-radius);
	font-size: 8pt;
	border: 1px solid $border;
	cursor: pointer;
	color: $text;

	&:first-child {
		margin-right: 5px;
	}
}

.time-btn-play {
	background-color: $success;
	color: $white;
	border: 1px solid $success;
}

.time-status-pause {
	background-color: $text;
	color: $white;
	border: 1px solid $text;
}

.time-completed {
	width: 25px;
	height: 25px;
	margin: 0 AUTO;
	@include border-radius($circle-border-radius);
	background-color: $success;

	i {
		color: $background;
		padding-top: 5px;
	}
}

.edit-time {
	border: 2px solid $text;
	color: $text;
	padding: 8px 15px;
	cursor: pointer;
	@include border-radius(20px);
}

//---------- General Project Information ---------
.prj-information-content {
	background-color: $white;
	padding: 20px;
	position: relative;

	h3 {
		font-size: 13pt;
		margin-top: 5px;
		padding-bottom: 20px;
		color: $text-dark;
		border-bottom: 1px solid $border;
	}

	.prj-info-text {
		padding-top: 10px;
		display: block;
		font-size: 11pt;
		color: $text;
		margin-bottom: 10px;
	}

	.prj-info-title {
		margin: 0;
		margin-bottom: 3px;
		padding: 5px 10px;
		font-weight: 700;
		font-size: 17pt;
		color: $black;
		@include border-radius($default-border-radius);
		border: 1px solid $border;
		outline: none;


		&:focus {
			border: 1px solid $blue;
		}
	}

	.prj-info-description {
		margin: 0;
		font-size: 12pt;
		padding: 5px 10px;
		color: $black;
		@include border-radius($default-border-radius);
		border: 1px solid $border;
		outline: none;
		margin-bottom: 20px;

		&:focus {
			border: 1px solid $blue;
		}
	}

	.project-active {
		position: absolute;
		display: inline;
		right: 20px;
		top: 11px;
		padding: 10px 15px;
		border: 1px solid $border;
		@include border-radius($default-border-radius);
		cursor: pointer;
		color: $success;
	}

	.project-completed {
		@extend .project-active;
		color: $danger;
		border: 0;
		cursor: default;
	}
}

.prj-information-values-box {
	div {
		background-color: $white;
		padding: 20px;
		position: relative;

		h3 {
			font-size: 13pt;
			margin-top: 5px;
			padding-bottom: 20px;
			color: $text-dark;
			border-bottom: 1px solid $border;
		}

		&:first-child {
			width: calc(100% - 320px);
			height: 300px;
			float: left;

			.prj-information-chart {
				width: 50%;
				height: 200px;
				text-align: center;
				padding: 0;
				float: left;

				canvas {
					margin-top: 7.7px;
					cursor: default;
				}
			}

			.prj-information-chart-values {
				width: 50%;
				float: right;
				display: inline-block;
				list-style: none;
				padding-top: 35px;
				cursor: default;

				li {
					text-decoration: none;
					font-size: 12pt;
					padding-bottom: 3px;

					i {
						padding-right: 10px;
						font-size: 13pt;
					}
				}
			}

		}

	}

	.prj-registered-values {
		width: 300px;
		height: 300px;
		margin-left: 20px;
		float: right;
		cursor: default;

		div {
			svg {
				width: 30px;
				float: left;
				fill: $icon;
				padding-top: 7px;
			}

			span {
				font-size: 12pt;
				color: $text-dark;
				font-weight: 700;
				padding-left: 10px;
			}

			p {
				font-size: 11pt;
				padding-left: 40px;
			}
		}
	}

}

//----------- Project Plan Summary View ----------
.plan-summary-content {
	background-color: $white;
	padding: 20px;

	h3 {
		font-size: 13pt;
		margin-top: 5px;
		padding-bottom: 20px;
		color: $text-dark;
		border-bottom: 1px solid $border;
	}

	.table-summary {
		background-color: $white;
		margin-bottom: 0;

		thead {
			& > tr > th{
				padding-bottom: 15px;
				text-align: center;
				border-bottom: 0px;
				color: $text;
				font-weight: 300;
				cursor: default;
			}
		}

		tbody > tr {
			background-color: $background;
			cursor: default;

			& > td {
				padding: 20px 20px;
				border: none;
				border-bottom: 6px solid $white;
				color: $text;

				input {
					margin-top: 9px;
					text-align: center;
				}

				&:first-child {
					width: 200px;
				}

				&:nth-child(2) {
					text-align: center;
					width: 180px;
				}

				&:nth-child(3) {
					text-align: center;
					padding-top: 18px;
					padding-bottom: 14px;
					margin: 0;
				}

				&:nth-child(4) {
					text-align: center;
					padding-top: 18px;
					padding-bottom: 14px;
					margin: 0;
				}

				&:last-child {
					text-align: center;
					width: 110px;
				}
			}

			&:last-child {
				border-bottom: none;
				background-color: $white;
			}
		}

	}
}

.td-input-row {
	padding-top: 0!important;
	padding-bottom: 0!important;

	input {
		margin-bottom: 0;
		padding-right: 12px;
	}

	span {
		padding-top: 18px;
		float: left;
	}
}
//----------- No Data Notification Box -----------
.empty-data-box {
	width: 100%;
	background-color: $white;
	border: 2px dashed $border;
	text-align: center;

	h3 {
		display: block;
		margin: 0;
		padding-bottom: 5px;
		padding-top: 40px;
		font-size: 13pt;
		color: $black;
	}

	span {
		display: block;
		color: $text;
		padding-bottom: 40px;
	}
}

//------------------ Scripts View -----------------
.script-content {
	background-color: $white;
	padding: 20px;
	cursor: default;

	h3 {
		font-size: 13pt;
		margin-top: 5px;
		padding-bottom: 20px;
		color: $text-dark;
		border-bottom: 1px solid $border;
	}

	span {
		color: $text;
		display: inline-block;
		padding-bottom: 20px;
	}

	table {
		thead {
			& > tr > th{
				padding-bottom: 15px;
				text-align: center;
				border-bottom: 0px;
				color: $text;
				font-weight: 400;
				cursor: default;
			}
		}

		tbody > tr {
			background-color: $background;

			& > td {
				padding: 20px 20px;
				border: none;
				border-bottom: 6px solid $white;
				color: $text;

				&:first-child {
					width: 200px;
				}

				&:last-child {
					text-align: left;
				}
			}
		}
	}

	.script-table-list {
		tbody > tr {
			& > td {
				&:first-child {
					width: 50px;
				}

				&:nth-child(2) {
					width: 50%;
				}

				&:last-child {
					width: 50%;
				}
			}
		}
	}
}

//------------------------------------------------

// Portrait tablets and small desktops
@media (min-width: 768px) and (max-width: 991px) {

}

// Landscape phones and portrait tablets
@media (max-width: 767px) {
	.project-view-menu {
		width: calc(100% + 40px);
		height: 80px;
		margin-top: -20px;
		text-align: center!important;

		a {
			li {
				float: left;
				display: inline-block;
				width: 20%;
				padding-left: 2%;
				padding-right: 2%;
				text-align: center;
				margin: 0;
				border-bottom: 0;

				svg {
					width: 20px;
				}

				h3 {
					font-size: 9pt;
					word-break: break-all;
				}
			}
		}
	}

	.defect-create-son {
		margin-bottom: 10px;
	}

	.project-view-content {
		width: calc(100% + 40px);
		margin-top: 20px;

		.prj-information-values-box {
			div {
				width: 100%;
			}

			.prj-registered-values {
				margin-top: 30px;
			}
		}
	}

	.prj-information-box {
		min-height: 250px;
	}

	.prj-general-chart-box {
		width: 100%;
	}

	.prj-review-box {
		width: 100%;
	}

	.defect-box,
	.iteration-box,
	.project-for-iteration-box {
		margin-left: 0;
		width: 100%;
	}

}


//------------------------------------------------