@import '_variables.scss';

//--------------- All Projects View --------------
.table-size-base {
	background-color: $white;
	margin-bottom: 0;

	thead {
		& > tr > th{
			padding-bottom: 0;
			text-align: center;
			border-bottom: 0px;
			color: $text;
			font-weight: 300;
			cursor: default;
		}
	}

	tbody > tr {
		//background-color: $background;
		cursor: default;

		& > td {
			padding: 0 0 0 5px;
			border: none;
			border-bottom: 6px solid $white;
			color: $text;
			vertical-align: middle;

			input {
				margin-top: 9px;
				padding: 12px;
				text-align: center;
			}

			&:first-child {
				padding: 0;
			}

			.size-base-title {
				text-align: left;
				width: 150px;
			}
		}

		.base-field-last {
			padding-right: 5px;
		}

		.base-actual {
			background-color: $background;

			div {
				background-color: $background;

				&.base-actual-last {
					padding-right: 5px;
				}
			}
		}

		&:last-child {
			border-bottom: none;
			background-color: $white;
		}
	}

}
.base-option-bar {
	@include clearfix();

	div {
		padding-top: 0;
		padding-bottom: 0;
	}
}
//--------------- All Projects View --------------