@import '_variables.scss';

//---------------- Switch Checkbox ---------------
.switch {
	position: relative;
	display: inline-block;
	width: 56px;
	height: 30px;
}

// Hide default HTML checkbox
.switch input {
	display:none;
}

.switch-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $main-text-color;
	-webkit-transition: .4s;
	transition: .4s;

	&.round {
		border-radius: 34px;

		&:before {
			border-radius: 50%;
		}
	}

	&:before {
		position: absolute;
		content: "";
		height: 22px;
		width: 22px;
		left: 4px;
		bottom: 4px;
		background-color: $white;
		@include transition(.4s);
	}
}

input:checked + .switch-slider {
	background-color: $blue;
}

input:focus + .switch-slider {
	box-shadow: 0 0 1px $blue;
}

input:checked + .switch-slider:before {
	@include translateX(26px);
}

//--------------- Project Settings ---------------
.project-settings-box {
	display: block;
	width: 100%;
	float: left;
	padding-bottom: 20px;

	div {
		display: inline-block;
		float: left;

		&:last-child {
			padding-left: 10px;
		}

		h3 {
			margin: 0;
			padding-bottom: 7px;
			font-size: 15pt;
			font-weight: bold;
			color: $main-title-color;
		}

		span {
			font-size: 11pt;
			color: $main-text-color;
		}

		&:first-child {
			width: 70px;
		}
	}

	.project-setting-information {
		width: calc(100% - 70px);
	}
}

//------------- Defect Types Settings ------------
.defect-type-box {
	width: 100%;

	h3 {
		margin-top: 5px;
		padding-right: 5px;
		text-align: center;
	}

	div {
		&:first-child {
			width: 35px;
			float: left;
		}

		&:last-child {
			width: calc(100% - 40px);
			float: right;
		}
	}

	.defect-type-description {
		margin-bottom: 30px;
	}
}

.defect-type-save-nav {
	padding: 0 15px;

	.save-defect-types {
		background-color: $blue;
		color: $white;
		top: 13px;
		right: 130px;
		padding: 6px 15px;
		margin-left: 10px;

		&:hover {
			background-color: $blue-dark;
		}
	}
}


//------------------------------------------------