@import '_variables.scss';

//---------------- Switch Checkbox ---------------
.switch {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 25px;
}

// Hide default HTML checkbox
.switch input {
	display:none;
}

.switch-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $text;
	-webkit-transition: .4s;
	transition: .4s;

	&.round {
		border-radius: 34px;

		&:before {
			border-radius: 50%;
		}
	}

	&:before {
		position: absolute;
		content: "";
		height: 17px;
		width: 17px;
		left: 4px;
		bottom: 4px;
		background-color: $white;
		@include transition(.4s);
	}
}

input:checked + .switch-slider {
	background-color: $blue;
}

input:focus + .switch-slider {
	box-shadow: 0 0 1px $blue;
}

input:checked + .switch-slider:before {
	@include translateX(21px);
}

//--------------- Project Settings ---------------
.prj-settings-content {
	background-color: $white;
	padding: 20px;

	h3 {
		font-size: 15pt;
		color: $text-dark;
		margin: 0;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid $border;
	}
}

.project-settings-box {
	display: block;
	width: 100%;
	float: left;
	padding-bottom: 20px;
	padding-left: 20px;

	div {
		display: inline-block;
		float: left;
		padding-bottom: 10px;

		&:last-child {
			padding-left: 10px;
		}

		p {
			margin-top: -2px;
			margin-bottom: 0;
			padding-bottom: 7px;
			font-size: 15pt;
			font-weight: bold;
			color: $black;
		}

		span {
			font-size: 11pt;
			color: $text;
		}

		&:first-child {
			width: 50px;
		}
	}

	.project-setting-information {
		width: calc(100% - 50px);
	}
}

//------------- Defect Types Settings ------------
.defect-type-settings-content {
	background-color: $white;
	padding: 20px;

	h3 {
		font-size: 15pt;
		color: $text-dark;
		margin: 0;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid $border;
	}
}

.defect-type-box {
	width: 100%;
	border: 1px solid $border;
	@include border-radius($default-border-radius);
	box-shadow: 0 1px 1px rgba(95,108,128,0.3);
	margin-bottom: 30px;

	.defect-type-title-box {
		margin: 20px;
		padding: 10px;
		@include border-radius($default-border-radius);
		border: 1px solid $border;
		font-size: 11pt;
		color: $text-dark;
	}

	.defect-type-data-box {
		margin: 20px;
		font-size: 11pt;
		color: $text-dark;
	}

	.defect-type-title,
	.defect-type-description {
		outline: none
	}

	.delete-defect-type {
		float: right;
		display: inline;
		color: $text-dark;
		cursor: pointer;
		font-size: 12pt;
		padding-top: 3px;
	}

}

.defect-type-selected {
	border: 1px solid $blue;
}


.defect-type-error-box {
	padding: 0 15px;
	margin-bottom: 20px;
}

.add-defect-type {
	width: 100%;
	background-color: $white;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid $border;
	@include border-radius($default-border-radius);
	cursor: pointer;
}

.defect-type-save-nav {
	border-top: 1px solid $border;
	padding: 0 15px;
	padding-top: 20px;

	.save-defect-types {
		background-color: $blue;
		color: $white;
		top: 13px;
		right: 130px;
		padding: 6px 15px;
		margin-left: 10px;

		&:hover {
			background-color: $blue-dark;
		}
	}
}

//------------------------------------------------