@import '_variables.scss';

//---------------- Access Layout -----------------
.access-screen {
	width: 100%;
	height:100%;

	.access-page {
		width:100%;
		height:100%;
		overflow:scroll;
		position:absolute;
		top:0;
		left:0;
		margin:0;
		padding:0;
		background-color: $primary-bg;

	}

	// Here is defined the width of the .user-access-box
	.container {
		width: 450px;
		max-width: 90%;
		text-align: center;
	}

}

// Box that contains the inputs, buttons, etc
.user-access-box {
	padding: 40px;
	padding-top: 30px;
	background-color: $user-access-bg;
	position: relative;

	h3 {
		margin-top: 0;
		margin-bottom: 20px;
		color: $primary-bg;
		font-size: 14pt;
		font-weight: 700;
	}
}

.user-access-social {
	width: 100%;
	height: 40px;
	position: relative;
	margin-bottom: 10px;
	@include border-radius($default-border-radius);
	cursor: pointer;

	svg {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		left: 0;
		padding: 12px;
		fill: $white;
		border-top-left-radius: $default-border-radius;
		border-bottom-left-radius: $default-border-radius;
	}

	span {
		color: $white;
		line-height: 40px;
	}
}

.user-access-facebook {
	@extend .user-access-social;
	background-color: $facebook-btn;

	svg {
		background-color: $facebook-btn-dark;
	}

	&:hover {
		background-color: $facebook-btn-dark;
	}
}

.user-access-google {
	@extend .user-access-social;
	background-color: $google-btn;

	svg {
		background-color: $google-btn-dark;
	}

	&:hover {
		background-color: $google-btn-dark;
	}
}

//--------- Login and Register Template ----------
.user-access-separator {
	width: 100%;
	height: 20px;
	border-bottom: 2px solid $input-border;
	text-align: center;
	margin-bottom: 20px;

	span {
		font-size: 16pt;
		padding: 0 10px;
		background-color: $user-access-bg;
		color: $input-border;
	}
}

.user-access-error-text {
	color: $danger;
	float: left;
}

.user-access-submit {
	width: 100%;
	height: 40px;
	padding: 0;
	background-color: $blue;
	margin-top: 10px;
	border: none;
	line-height: 40px;
	cursor: pointer;

	&:hover {
		background-color: $blue-dark;
	}
}

.access-selection-box {
	width: calc(100% + 80px);
	height: 60px;
	margin: 20px -40px -40px -40px;
	color: $input-empty-text;
	cursor: pointer;
	line-height: 60px;
	border-top: 1px solid $input-border;
}
//------------------------------------------------