<!-- ###################################### -->
<template name="planSummaryTemplate">
	{{> projectViewMenu}}
	<div class="project-view-content">
		{{#with userData }}
			<div class="plan_summary-box">
				<h3>Tiempo en Fase</h3>
				<table class="table table-summary">
					<thead>
						<tr>
							<th style="width: ;">Titulo</th>
							<th>Plan</th>
							<th>Actual</th>
							<th>A la fecha</th>
							<th style="width: 100px;">Porcentaje</th>
						</tr>
					</thead>
					<tbody>
						{{> summaryTimeRow}}
					</tbody>
				</table>
			</div>
			<br>
			<div class="plan_summary-box">
				<h3>Defectos Inyectados</h3>
				<table class="table table-summary">
					<thead>
						<tr>
							<th>Titulo</th>
							<th></th>
							<th>Actual</th>
							<th>A la fecha</th>
							<th style="width: 100px;">Porcentaje</th>
						</tr>
					</thead>
					<tbody>
						 {{> summaryInjectedRow}}
					</tbody>
				</table>
			</div>
			<br>
			<div class="plan_summary-box">
				<h3>Defectos Removidos</h3>
				<table class="table table-summary">
					<thead>
						<tr>
							<th>Titulo</th>
							<th></th>
							<th>Actual</th>
							<th>A la fecha</th>
							<th style="width: 100px;">Porcentaje</th>
						</tr>
					</thead>
					<tbody>
						{{> summaryRemovedRow}}
					</tbody>
				</table>
			</div>
		{{/with}}
	</div>
</template>
<!-- ###################################### -->
<template name="summaryTimeRow">
	{{#each timeEstimatedStages}}
		<tr>
			<td>{{name}}</td>
			<td>
				{{#if isProbeC}}
					{{planSummaryTime average}}
				{{/if}}
			</td>
			<td>{{planSummaryTime time}}</td>
			<td>{{planSummaryTime toDate}}</td>
			<td>{{percentage}}%</td>
		</tr>
	{{/each}}
	{{#with totalValues}}
		<tr>
			<td><span>Total</span></td>
			<td class="td-input-row">
				{{#if probeD}}
					<input type="text" class="psp-input" value="{{timeInMinutes estimatedTime}}">
				{{/if}}
			</td>
			<td><span>{{planSummaryTime totalTime}}</span></td>
			<td><span>{{planSummaryTime totalToDate}}</span></td>
			<td></td>
		</tr>
	{{/with}}
</template>
<!-- ###################################### -->
<template name="summaryInjectedRow">
	{{#each injectedDefects}}
		<tr>
			<td>{{name}}</td>
			<td></td>
			<td>{{injected}}</td>
			<td>{{toDate}}</td>
			<td>{{percentage}}%</td>
		</tr>
	{{/each}}
	{{#with totalInjectedValues}}
		<tr>
			<td><span>Total</span></td>
			<td></td>
			<td><span>{{totalInjected}}</span></td>
			<td><span>{{totalInjectedToDate}}</span></td>
			<td></td>
		</tr>
	{{/with}}
</template>
<!-- ###################################### -->
<template name="summaryRemovedRow">
	{{#each removedDefects}}
		<tr>
			<td>{{name}}</td>
			<td></td>
			<td>{{removed}}</td>
			<td>{{toDate}}</td>
			<td>{{percentage}}%</td>
		</tr>
	{{/each}}
	{{#with totalRemovedValues}}
		<tr>
			<td><span>Total</span></td>
			<td></td>
			<td><span>{{totalRemoved}}</span></td>
			<td><span>{{totalRemovedToDate}}</span></td>
			<td></td>
		</tr>
	{{/with}}
</template>
<!-- ###################################### -->