<!-- ###################################### -->
<template name="planSummaryTemplate">
	<div class="plan_summary-box">
		<h3>Tiempo en Fase</h3>
		<table class="table table-summary">
			<thead>
				<tr>
					<th style="width: ;">Titulo</th>
					<th>Plan</th>
					<th>Actual</th>
					<th>A la fecha</th>
					<th style="width: 100px;">Porcentaje</th>
				</tr>
			</thead>
			<tbody>
				{{> summaryTimeRow}}
			</tbody>
		</table>
	</div>
	<br>
	<div class="plan_summary-box">
		<h3>Defectos Inyectados</h3>
		<table class="table table-summary">
			<thead>
				<tr>
					<th>Titulo</th>
					<th>Plan</th>
					<th>Actual</th>
					<th>A la fecha</th>
					<th style="width: 100px;">Porcentaje</th>
				</tr>
			</thead>
			<tbody>
				{{> summaryInjectedRow}}
			</tbody>
		</table>
	</div>
	<br>
	<div class="plan_summary-box">
		<h3>Defectos Removidos</h3>
		<table class="table table-summary">
			<thead>
				<tr>
					<th>Titulo</th>
					<th>Plan</th>
					<th>Actual</th>
					<th>A la fecha</th>
					<th style="width: 100px;">Porcentaje</th>
				</tr>
			</thead>
			<tbody>
				{{> summaryRemovedRow}}
			</tbody>
		</table>
	</div>
</template>
<!-- ###################################### -->
<template name="summaryTimeRow">
	{{#each timeEstimatedStages}}
		<tr>
			<td>{{name}}</td>
			<td></td>
			<td>{{planSummaryTime time}}</td>
			<td>{{planSummaryTime toDate}}</td>
			<td>{{percentage}}%</td>
		</tr>
	{{/each}}
	{{#with totalValues}}
		<tr>
			<td><p>Total</p></td>
			<td><input type="text" class="psp-input" value="{{timeInMinutes estimatedTime}}"></td>
			<td><span>{{planSummaryTime totalTime}}</span></td>
			<td><p>{{planSummaryTime totalToDate}}</p></td>
			<td></td>
		</tr>
	{{/with}}
</template>
<!-- ###################################### -->
<template name="summaryInjectedRow">
	{{#each injectedDefects}}
		<tr>
			<td>{{name}}</td>
			<td></td>
			<td>{{injected}}</td>
			<td>{{toDate}}</td>
			<td>{{percentage}}%</td>
		</tr>
	{{/each}}
</template>
<!-- ###################################### -->
<template name="summaryRemovedRow">
	{{#each removedDefects}}
		<tr>
			<td>{{name}}</td>
			<td></td>
			<td>{{injected}}</td>
			<td>{{toDate}}</td>
			<td>{{percentage}}%</td>
		</tr>
	{{/each}}
</template>
<!-- ###################################### -->