<!-- ###################################### -->
<template name="planSummaryTemplate">
	{{> projectViewMenu}}
	<div class="project-view-content">
		{{#with userData }}
			<div class="plan-summary-content">
				<h3>Tiempo en Fase</h3>
				<table class="table table-summary">
					<thead>
						<tr>
							<th>Titulo</th>
							<th class="hidden-xs">Plan</th>
							<th>Actual</th>
							<th class="hidden-xs">A la fecha</th>
							<th style="width: 100px;" class="hidden-xs">Porcentaje</th>
						</tr>
					</thead>
					<tbody>
						{{> summaryTimeRow}}
					</tbody>
				</table>
			</div>
			<br>
			<div class="plan-summary-content">
				<h3>Defectos Inyectados</h3>
				<table class="table table-summary">
					<thead>
						<tr>
							<th>Titulo</th>
							<th class="hidden-xs"></th>
							<th>Actual</th>
							<th class="hidden-xs">A la fecha</th>
							<th style="width: 100px;" class="hidden-xs">Porcentaje</th>
						</tr>
					</thead>
					<tbody>
						 {{> summaryInjectedRow}}
					</tbody>
				</table>
			</div>
			<br>
			<div class="plan-summary-content">
				<h3>Defectos Removidos</h3>
				<table class="table table-summary">
					<thead>
						<tr>
							<th>Titulo</th>
							<th class="hidden-xs"></th>
							<th>Actual</th>
							<th class="hidden-xs">A la fecha</th>
							<th style="width: 100px;" class="hidden-xs">Porcentaje</th>
						</tr>
					</thead>
					<tbody>
						{{> summaryRemovedRow}}
					</tbody>
				</table>
			</div>
		{{/with}}
	</div>
</template>
<!-- ###################################### -->
<template name="summaryTimeRow">
	{{#each timeEstimatedStages}}
		<tr>
			<td>{{name}}</td>
			<td class="hidden-xs">
				{{#if $eq projectProbe 'probeC'}}
					{{timeFormat average}}
				{{/if}}
			</td>
			<td>{{timeFormat time}}</td>
			<td class="hidden-xs">{{timeFormat toDate}}</td>
			<td class="hidden-xs">{{percentage}}%</td>
		</tr>
	{{/each}}
	{{#with totalValues}}
		<tr>
			<td><span>Total</span></td>
			<td class="td-input-row hidden-xs">
				{{#if $eq projectProbe 'probeD'}}
					{{#if estimationEditable}}
						<input type="text" class="psp-input" value="{{timeInMinutes estimatedTime}}">
					{{else}}
						<span>{{timeFormat estimatedTime}}</span>
					{{/if}}
				{{/if}}
			</td>
			<td><span>{{timeFormat totalTime}}</span></td>
			<td class="hidden-xs"><span>{{timeFormat totalToDate}}</span></td>
			<td class="hidden-xs"></td>
		</tr>
	{{/with}}
</template>
<!-- ###################################### -->
<template name="summaryInjectedRow">
	{{#each injectedDefects}}
		<tr>
			<td>{{name}}</td>
			<td class="hidden-xs"></td>
			<td>{{injected}}</td>
			<td class="hidden-xs">{{toDate}}</td>
			<td class="hidden-xs">{{percentage}}%</td>
		</tr>
	{{/each}}
	{{#with totalInjectedValues}}
		<tr>
			<td><span>Total</span></td>
			<td class="hidden-xs"></td>
			<td><span>{{totalInjected}}</span></td>
			<td class="hidden-xs"><span>{{totalInjectedToDate}}</span></td>
			<td class="hidden-xs"></td>
		</tr>
	{{/with}}
</template>
<!-- ###################################### -->
<template name="summaryRemovedRow">
	{{#each removedDefects}}
		<tr>
			<td>{{name}}</td>
			<td class="hidden-xs"></td>
			<td>{{removed}}</td>
			<td class="hidden-xs">{{toDate}}</td>
			<td class="hidden-xs">{{percentage}}%</td>
		</tr>
	{{/each}}
	{{#with totalRemovedValues}}
		<tr>
			<td><span>Total</span></td>
			<td class="hidden-xs"></td>
			<td><span>{{totalRemoved}}</span></td>
			<td class="hidden-xs"><span>{{totalRemovedToDate}}</span></td>
			<td class="hidden-xs"></td>
		</tr>
	{{/with}}
</template>
<!-- ###################################### -->