<!-- ###################################### -->
<template name="timeCharts">
	<div class="overview-chart-box">
		<span>Planeación</span>
		<canvas id="planningChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Diseño</span>
		<canvas id="designChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Revisión Diseño</span>
		<canvas id="reviewDesignChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Código</span>
		<canvas id="codeChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Revisión Código</span>
		<canvas id="reviewCodeChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Compilación</span>
		<canvas id="compilationChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Pruebas</span>
		<canvas id="testingChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Postmortem</span>
		<canvas id="postmortemChart"></canvas>
	</div>
</template>
<!-- ###################################### -->
<template name="injectedCharts">
	<!--Defectos Inyectados-->
	<div class="overview-chart-box">
		<span>Planeación</span>
		<canvas id="InplanChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Diseño</span>
		<canvas id="IndisChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Código</span>
		<canvas id="IncodChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Compilación</span>
		<canvas id="IncomChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Pruebas</span>
		<canvas id="InpruChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Postmortem</span>
		<canvas id="InposChart"></canvas>
	</div>
</template>
<!-- ###################################### -->
<template name="removedCharts">
	<!--Defectos Removidos-->
	<div class="overview-chart-box">
		<span>Planeación</span>
		<canvas id="ReplanChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Diseño</span>
		<canvas id="RedisChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Código</span>
		<canvas id="RecodChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Compilación</span>
		<canvas id="RecomChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Pruebas</span>
		<canvas id="RepruChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Postmortem</span>
		<canvas id="ReposChart"></canvas>
	</div>
</template>
<!-- ###################################### -->

