<!-- ###################################### -->
<template name="timeCharts">
	<div class="overview-chart-box">
		<span>Planeación</span>
		<canvas id="planningChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Diseño</span>
		<canvas id="designChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Revisión Diseño</span>
		<canvas id="reviewDesignChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Código</span>
		<canvas id="codeChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Revisión Código</span>
		<canvas id="reviewCodeChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Compilación</span>
		<canvas id="compilationChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Pruebas</span>
		<canvas id="testingChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Postmortem</span>
		<canvas id="postmortemChart"></canvas>
	</div>
</template>
<!-- ###################################### -->
<template name="injectedCharts">
	<!--Defectos Inyectados-->
	<div class="overview-chart-box">
		<span>Planeación</span>
		<canvas id="InplanningChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Diseño</span>
		<canvas id="IndesignChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Revisión Diseño</span>
		<canvas id="InreviewDesignChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Código</span>
		<canvas id="IncodeChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Revisión Código</span>
		<canvas id="InreviewCodeChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Compilación</span>
		<canvas id="IncompilationChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Pruebas</span>
		<canvas id="IntestingChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Postmortem</span>
		<canvas id="InpostmortemChart"></canvas>
	</div>
</template>
<!-- ###################################### -->
<template name="removedCharts">
	<!--Defectos Removidos-->
	<div class="overview-chart-box">
		<span>Planeación</span>
		<canvas id="RemplanningChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Diseño</span>
		<canvas id="RemdesignChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Revisión Diseño</span>
		<canvas id="RemreviewDesignChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Código</span>
		<canvas id="RemcodeChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Revisión Código</span>
		<canvas id="RemreviewCodeChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Compilación</span>
		<canvas id="RemcompilationChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Pruebas</span>
		<canvas id="RemtestingChart"></canvas>
	</div>
	<div class="overview-chart-box">
		<span>Postmortem</span>
		<canvas id="RempostmortemChart"></canvas>
	</div>
</template>
<!-- ###################################### -->

