<!-- ###################################### -->
<template name="accountSettingsTemplate">
	{{> settingsMenu}}
	<div class="project-view-content">
		{{#with userData }}
			<div class="account-settings-content">
				<h3>Datos de cuenta</h3>
				<div class="account-settings-image clearfix">
					<span>Foto de perfil</span>
					<div style="background-image: url('{{getUserAvatarUrl}}');"></div>
					{{#with currentUpload }}
						<span>Subiendo imagen ...</span>
					{{else}}
						{{> uploaderTemplate type="button" text="Seleccionar Imagen" classes="btn uploadFile"}}
						<button class="btn default-image">Volver a imagen por defecto</button>
					{{/with}}
				</div>
				<div class="final-input-box">
					<span>Nombre *</span>
					<input type="text" id="fname" placeholder="Nombre aqui" value="{{profile.fname}}">
				</div>
				<div class="final-input-box">
					<span>Apellido *</span>
					<input type="text" id="lname" placeholder="Apellido aqui" value="{{profile.lname}}">
				</div>
				<div>
					<button class="btn save-profile-settings">Guardar Cambios</button>
				</div>
			</div>
		{{/with}}
	</div>
</template>
<!-- ###################################### -->