<!-- ###################################### -->
<template name="projectSettingsTemplate">
	{{> settingsMenu}}
	<div class="project-view-content">
		<div class="prj-settings-content">
			<h3>Seleción método de estimación</h3>
			{{#each settings}}
				<div class="project-settings-box">
					<div>
						<label class="switch">
							<input type="checkbox" checked="{{value}}" disabled="disabled" id="settings-checkbox">
							<div class="switch-slider round"></div>
						</label>
					</div>
					<div class="project-setting-information">
						<p>{{title}}</p>
						<span>{{subject}}</span>
					</div>
				</div>
				<div class="clearfix"></div>
			{{/each}}
		</div>
	</div>
</template>
<!-- ###################################### -->