<!-- ###################################### -->
<template name="projectSettingsTemplate">
	<div class="prj-settings-content">
		<div class="settings-project-box">
			<i class="fa fa-home"></i>
			<span>Opciones Generales</span>
			<i class="fa fa-caret-down pull-right"></i>
		</div>
		<div class="settings-project-body">
			{{#each settings}}
				<div class="project-settings-option">
					<label class="switch general-switch">
						<input type="checkbox" checked="{{value}}" disabled="disabled" id="settings-checkbox">
						<div class="switch-slider round"></div>
					</label>
					<span>{{title}}</span>
				</div>
			{{/each}}
			{{#if displayWarning}}
				<div class="settings-project-warning">
					<i class="fa fa-info-circle"></i>
					<span>Estos cambios solo se veran reflejados en los proyectos o iteraciones creados a partir de este momento</span>
				</div>
			{{/if}}
		</div>

		<div class="settings-project-box">
			<i class="fa fa-sort-amount-desc"></i>
			<span>Orden de los Proyectos</span>
			<i class="fa fa-caret-down pull-right"></i>
		</div>
		<div class="settings-project-body">
			{{#each orderSettings}}
				<div class="project-settings-option" data-value="{{field}}">
					<label class="switch order-switch">
						<input type="checkbox" checked="{{value}}" disabled="disabled" id="settings-checkbox">
						<div class="switch-slider round"></div>
					</label>
					<span>{{title}}</span>
				</div>
			{{/each}}
		</div>
	</div>
</template>
<!-- ###################################### -->