<!-- ###################################### -->
<template name="projectInformationTemplate">
	{{#with projectInfo }}
		<div class="prj-information-box">
			<div class="{{#if completed}} project-completed {{else}} project-active {{/if}}">
				{{#if completed}}
					<span>Terminado</span>
				{{else}}
					<span>Activo</span>
				{{/if}}
				<i class="fa fa-circle"></i>
			</div>
			<span class="prj-info-text">Titulo del proyecto</span>
			{{{contentEditable class='prj-info-title' value=title}}}
			<span class="prj-info-text">Descripción del proyecto</span>
			{{{contentEditable class='prj-info-description' value=description}}}
		</div>

		{{> projectInformationChart}}

		<div class="prj-review-box">
			<div>
				<svg class="project-svg" viewBox="0 0 100 100"><use xlink:href="/images/Clock.svg#clockLogo"></use></svg>
				<span>Tiempo total</span>
				<p>{{projectTotalTime}}</p>
			</div>
			<div>
				<svg class="project-svg" viewBox="0 0 100 100"><use xlink:href="/images/Calendar.svg#calendarLogo"></use></svg>
				<span>Fecha creación</span>
				<p>{{dateDisplay createdAt}}</p>
			</div>
		</div>
	{{/with}}
</template>
<!-- ###################################### -->
<template name="projectInformationChart">
	<div class="prj-general-chart-box">
		<span>Estado Actual del Proyecto</span>
		<canvas id="projectInformationChart" height="180" width="180"></canvas>
	</div>
</template>