<!-- ###################################### -->
<template name="projectInformationTemplate">
	{{#with projectInfo }}
		<div class="prj-information-box">
			<div class="{{#if completed}} project-completed {{else}} project-active {{/if}}">
				{{#if completed}}
					<span>Terminado</span>
				{{else}}
					<span>Activo</span>
				{{/if}}
				<i class="fa fa-circle"></i>
			</div>
			<span class="prj-info-text">Titulo del proyecto</span>
			<h3 class="prj-info-title" contenteditable="true">{{title}}</h3>
			<span class="prj-info-text">Descripción del proyecto</span>
			<p class="prj-info-description" contenteditable="true">{{description}}</p>
		</div>

		<div class="prj-review-box">
			<div>
				<svg class="project-svg" viewBox="0 0 100 100"><use xlink:href="/images/Clock.svg#clockLogo"></use></svg>
				<span>Tiempo total</span>
				<p>{{projectTotalTime}}</p>
			</div>
			<div>
				<svg class="project-svg" viewBox="0 0 100 100"><use xlink:href="/images/Calendar.svg#calendarLogo"></use></svg>
				<span>Fecha creación</span>
				<p>{{dateDisplay createdAt}}</p>
			</div>
		</div>
	{{/with}}
</template>
<!-- ###################################### -->