<!-- ###################################### -->
<template name="defectTypeSettingsTemplate">
	<div class="defect-type-settings-content">
		<h4>Tipo de defectos</h4>
		<span class="create-button create-type"><i class="material-icons">add</i> Crear Tipo Defecto</span>
		{{createDefectList}}
		<div class="line-fix"></div>
		{{#each defectTypes}}
			<div class="defect-type-box {{#if selectedRow}} defect-type-selected {{/if}}">
				<div class="information">
					{{{contentEditable class='defect-type-title' value=name}}}
					{{{contentEditable class='defect-type-description' value=description}}}
				</div>
				<div class="delete-box"><i class="material-icons delete-type">delete</i></div>
			</div>
		{{/each}}
		{{#if displayWarning}}
			<div class="defect-type-error-box">
				<i class="material-icons">warning</i>
				<span>Estos cambios solo se veran reflejados en los proyectos o iteraciones creados a partir de este momento</span>
			</div>
		{{/if}}
		<div class="defect-type-save-nav">
			<button class="btn default-button reset-defect-types btn-default pull-left">Volver a valores predeterminados</button>
			<button class="btn primary-button save-defect-types pull-right">Guardar cambios</button>
		</div>
	</div>
</template>
<!-- ###################################### -->