<!-- ###################################### -->
<template name="defectTypeSettingsTemplate">
	<div class="defect-type-settings-content">
		<h3>Tipo de defectos</h3>
		{{createDefectList}}
		{{#each defectTypes}}
			<div class="defect-type-box {{#if selectedRow}} defect-type-selected {{/if}}clearfix">
				<div class="defect-type-title-box">
					<i class="fa fa-times-circle delete-defect-type"></i>
					{{{contentEditable class='defect-type-title' value=name}}}
				</div>
				<div class="defect-type-data-box">
					{{{contentEditable class='defect-type-description' value=description}}}
				</div>
			</div>
		{{/each}}
		<div class="add-defect-type">
			<i class="fa fa-plus"></i>
			<span>Agregar un nuevo tipo de defecto</span>
		</div>
		{{#if displayWarning}}
			<div class="defect-type-error-box">
				<i class="fa fa-info-circle"></i>
				<span>Estos cambios solo se veran reflejados en los proyectos o iteraciones creados a partir de este momento</span>
			</div>
		{{/if}}
		<div class="row defect-type-save-nav">
			<button class="btn save-defect-types pull-right">Guardar cambios</button>
			<button class="btn reset-defect-types btn-default pull-right">Volver a valores predeterminados</button>
		</div>
	</div>
</template>
<!-- ###################################### -->