<!-- ###################################### -->
<template name="formTemplate">
	{{>projectMessages}}

	<div class="forms-content">
		<div class="navigation">
			<i class="material-icons pip-option {{#if isPip}} active {{/if}}">assignment</i>
			<i class="material-icons test-option {{#if isTest}} active {{/if}}">chrome_reader_mode</i>

			{{#unless projectIsCompleted}}
				{{#if isPip}}
					<span class="create-button create-pip"><i class="material-icons">add</i>Crear PIP</span>
				{{else}}
					<span class="create-button create-test"><i class="material-icons">add</i>Crear Reporte</span>
				{{/if}}
			{{/unless}}
		</div>

		{{>Template.dynamic template=template}}
	</div>

	{{#if $and isPip noPipsAvailable}}
		<div class="empty-data-box">
			<h3>No has creado ninguna propuesta de mejora.</h3>
			<span>Para crear una propuesta de mejora debes dar click en el botón de la parte superior.</span>
		</div>
	{{/if}}

	{{#if $and isTest noTestAvailable}}
		<div class="empty-data-box">
			<h3>No has creado ningún reporte de prueba.</h3>
			<span>Para crear un reporte de prueba debes dar click en el botón de la parte superior.</span>
		</div>
	{{/if}}
</template>
<!-- ###################################### -->