<!--#######################################-->
<template name="loginTemplate">
	<form class="user-access-box">
		<img class="user-access-logo" src="/Logo.png" alt="">
		<div class="user-access-facebook">
			<svg class="menu-svg" viewBox="0 0 100 100"><use xlink:href="/images/Facebook.svg#facebookLogo"></use></svg>
			<span>Conectarse con Facebook</span>
		</div>
		<div class="user-access-google">
			<svg class="menu-svg" viewBox="0 0 100 100"><use xlink:href="/images/Google.svg#googleLogo"></use></svg>
			<span>Conectarse con Google</span>
		</div>

		<div class="user-access-separator">
			<span>o</span>
		</div>

		<div class="button-row combined-form">
			<div>
				<div class="{{#if $or ($eq errorState 'user') ($eq errorState 'email')}} input-error-box {{else}} input-box {{/if}}">
					<input type="email" placeholder='Correo Electronico' id="email" value="">
					<i class="fa fa-times"></i>
				</div>
				<div class="{{#if $eq errorState 'password'}} input-error-box {{else}} input-box {{/if}}">
					<input type="password" placeholder='Contraseña' id="password">
					<i class="fa fa-times"></i>
				</div>
			</div>
		</div>
		<span class="user-access-error-text">{{errorMessage}}</span>
		<input type="submit" class="btn btn-primary user-access-submit" value='Ingresar'>
		<div class="access-selection-box">
			<span>No tienes una cuenta? Registrate aquí</span>
		</div>
	</form>
</template>
<!--#######################################-->