<!--#######################################-->
<template name="loginTemplate">
	<form class="user-access-box">
		<div class="button-row combined-form">
			<div class="text-user-access">
				<input name="email" type="email" placeholder='Correo Electronico' id="email" value="">
				<input name="password" type="password" placeholder='Contraseña' id="password">
			</div>
		</div>
		<input type="submit" class="btn btn-primary user-access-submit" value='Iniciar Sesion'>
		<div class="access-selection-box">
			<span>No tienes una cuenta? Registrate aquí</span>
		</div>
	</form>
</template>
<!--#######################################-->