<!--#######################################-->
<template name="registerTemplate">
	<form class="user-access-box">
		<div class="button-row combined-form">
			<div class="text-user-access">
				<input id="fname" type="text" placeholder='Nombre'>
				<input id="lname" type="text" placeholder='Apellido'>
				<input type="email" id="email" placeholder='Correo Electronico'>
			</div>
		</div>

		<div class="button-row combined-form">
			<div class="textbox">
				<input id="password1" type="password" placeholder='Contraseña'>
				<input id="password2" type="password" placeholder='Repetir Contraseña'>
			</div>
		</div>
		<div class="button-row">
			<input type="submit" class="btn btn-primary user-access-submit" value='Registrarse'>
		</div>
		<div class="access-selection-box">
			<span>Ya eres un usuario? Iniciar sesión</span>
		</div>
	</form>
</template>
<!--#######################################-->