<!--#######################################-->
<template name="registerTemplate">
	<form class="user-access-box">
		<img class="user-access-logo" src="/Logo.png" alt="">

		<div class="button-row combined-form">
			<div class="text-user-access">
				<input id="fname" type="text" class="final-input" placeholder='Nombre'>
				<input id="lname" type="text" class="final-input" placeholder='Apellido'>
				<input type="email" id="email" class="{{#if $or ($eq errorState 'email_exist') ($eq errorState 'email')}} final-input-error {{/if}} final-input" placeholder='Correo Electronico'>
				<input id="password" type="password" class="{{#if $eq errorState 'password'}} final-input-error {{/if}} final-input" placeholder='Contraseña'>
				<span class="user-access-error-text">{{errorMessage}}</span>
				<input type="submit" class="btn btn-primary user-access-submit" value='Registrarse'>
			</div>
		</div>

		<div class="access-selection-box">
			<span>Ya tienes una cuenta? Iniciar sesión</span>
		</div>
	</form>
</template>
<!--#######################################-->