<!--#######################################-->
<template name="registerTemplate">
	<form class="user-access-box">
		<h3>Registrarse</h3>
		<div class="user-access-facebook">
			<svg class="menu-svg" viewBox="0 0 100 100"><use xlink:href="/images/Facebook.svg#facebookLogo"></use></svg>
			<span>Registrarse con Facebook</span>
		</div>
		<div class="user-access-google">
			<svg class="menu-svg" viewBox="0 0 100 100"><use xlink:href="/images/Google.svg#googleLogo"></use></svg>
			<span>Registrarse con Google</span>
		</div>

		<div class="user-access-separator">
			<span>o</span>
		</div>

		<div class="button-row combined-form">
			<div class="text-user-access">
				<input id="name" type="text" class="new-input" placeholder='Nombre y Apellido'>
				<input type="email" id="email" class="{{#if $or ($eq errorState 'email_exist') ($eq errorState 'email')}} new-input-error {{/if}} new-input" placeholder='Correo Electronico'>
				<input id="password" type="password" class="{{#if $eq errorState 'password'}} new-input-error {{/if}} new-input" placeholder='Contraseña'>
			</div>
		</div>
		<span class="user-access-error-text">{{errorMessage}}</span>
		<input type="submit" class="btn btn-primary user-access-submit" value='Registrarse'>
		<div class="access-selection-box">
			<span>Ya tienes una cuenta? Iniciar sesión</span>
		</div>
	</form>
</template>
<!--#######################################-->